<script src="{{ '/assets/js/materialize.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/glide.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.url }}"></script>