<head>
    <title>{{ page.title | flatify }} | {{ site.title }}</title>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link href="{{ site.url }}/assets/css/datatable.css" rel="stylesheet" type="text/css">
    <script src="{{ site.url }}/assets/js/datatable.min.js"></script>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/materialize.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/glide.core.min.css">
    <link rel="stylesheet" href="{{ site.url }}/main.css">
    {%- seo title=false -%}
</head>