<div class="r-d-flex r-al-i-c r-j-c-sb r-edges--right">
    <div class="r-d-flex r-al-i-c">
        <div class="r-hidden-xl-up">
            <button class="r-menu-toggle r-d-flex r-al-i-c" aria-label="Toggle Navigation">
                {%- include tools/icons.html icon="menu" -%}
            </button>
        </div>
        <div class="r-d-flex r-al-i-c r-edges*2@xl">
            <div class="r-hidden-xl-up">
                {%- include partials/header-logo.html -%}
            </div>
            {%- unless page.url == '/' -%}
                <h2 class="r-page-title r-gutter--height-adjust r-m-0 r-co-black r-visible-xl-up">
                    {{ page.title }}
                </h2>
            {%- endunless -%}
        </div>
    </div>
    {%- include partials/header-user-actions.html -%}
</div>