<div class="r-aside">
    <div class="r-aside_header r-edges@xl">
        <h2 class="sr" id="sidebarTitle">Main Navigation</h2>
        <div class="r-d-flex r-al-i-c r-edges--left">
            {%- include partials/header-logo.html -%}
        </div>
    </div>
    <nav class="r-aside_inner r-gutter r-edges--left">
        <h2 class="sr">Main Navigation</h2>
        <ul class="r-none r-list">
            {%- for item in site.data.settings.mainnav -%}
                {%- assign class = nil -%}
                {%- assign url = page.url | remove: 'index.html' -%}
                {%- assign name = item.name | slugify -%}
                {%- if url contains name -%}
                    {%- assign class = class | append: 'is-active' -%}
                {% elsif name == 'home' and url == '/' %}
                    {% assign class = class | append: 'is-active' %}
                {%- endif -%}
                <li class="r-no-border r-mb-h">
                    <a class="{{ class }} r-list-item is-vertical-nav" href="{{ item.slug | prepend: site.url }}">
                        {%- include tools/icons.html icon=item.name -%}
                        <span class="r-suffix--wider r-list-item_text">{{ item.name | capitalize }}</span>
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </nav>
    <div class="r-aside_footer r-ml-1 r-border-top">
        <div class="r-gutter--top--as-edge r-tx-c">
            <small class="r-opacity-09 r-fw-bold">&copy; Copyright 2020 ADX Credit.</small>
        </div>
        <ul class="r-none r-d-flex r-al-i-c">
            {%- for item in site.data.footer -%}
                <li class="r-d-flex r-al-i-c r-border-right--as-after">
                    <a href="{{ item.link }}" class="r-link--gray r-decoration-none r-fs-nano r-fw-medium r-edges--y r-edges--x">
                        {{ item.name }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </div>
</div>