<section class="r-section r-section--padded r-pt-0">
    <h2 class="sr">Main Investments Details</h2>
    <div class="r-gutter r-edges--as-gutter r-gradient r-gradient--blue r-br--all">
        <div class="r-grid r-grid--gap r-grid--1-3@lg r-al-i-c r-card-height--minimum">
            <div class="r-w-100% r-tx-c@lg r-gutter--half">
                <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Total Funds Invested</h3>
                <p class="r-mb-0 r-co-white r-gutter--quarter r-format-amount r-money-format">
                    {{ page.investment_data.total_money_invested }}
                </p>
                <p class="r-mb-0 r-co-white r-opacity-07 r-fw-medium r-fs-nano">
                    As of <span class="r-js-today"></span>
                </p>
            </div>
            <div class="r-w-100% r-tx-c@lg r-gutter--half r-divider-flanks@lg r-divider-flanks--light">
                <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Current Returns</h3>
                <p class="r-mb-0 r-co-white r-gutter--quarter r-format-amount r-money-format">
                    {{ page.investment_data.current_earned }}
                </p>
                <p class="r-mb-0 r-co-white r-fw-medium r-d-flex r-al-i-c r-j-c-c@lg r-fs-nano">
                    <span class="r-co-green r-lh-0 r-icon--micro r-prefix--smaller">
                        {%- include tools/icons.html icon="triangle-up" -%}
                    </span>
                    <span class="r-opacity-07"><span>0.57% <span class="r-js-today"></span></span></span>
                </p>
            </div>
            <div class="r-w-100% r-tx-c@lg r-gutter--half">
                <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Lifetime Earned Value</h3>
                <p class="r-mb-0 r-co-white r-gutter--quarter r-format-amount r-money-format">
                    {{ page.investment_data.lifetime_earned }}
                </p>
                <p class="r-mb-0 r-co-white r-fw-medium r-d-flex r-al-i-c r-j-c-c@lg r-fs-nano">
                    <span class="r-co-danger r-lh-0 r-icon--micro r-prefix--smaller">
                        {%- include tools/icons.html icon="triangle-down" -%}
                    </span>
                    <span class="r-opacity-07"><span>4.57% <span class="r-js-today"></span></span></span>
                </p>
            </div>
        </div>
    </div>
</section>