<section class="r-section r-section--padded">
    <div class="r-content-area">
        <div class="r-section-title">
            <h2 class="r-section-title_title">
                {{ page.current_accounts.title }}
            </h2>
        </div>
        {%- assign count = null -%}
        {%- assign card_type = 'vertical' -%}
        {%- include partials/loops/investments.html -%}
    </div>
</section>