<div class="r-ox-hidden">
    <div class="r-o-auto">
        <table id="r-transactions-table" class="r-table striped highlight r-table--detail">
            {%- assign trans = site.data.transactions.transactions -%}
            <thead>
                <tr>
                    {%- for th in trans[0] -%}
                        {%- if th[0] == 'status' -%}
                            {%- continue -%}
                        {%- endif -%}
                        <th>{{ th[0] | replace: '_', ' ' | upcase }}</th>
                    {%- endfor -%}
                </tr>
            </thead>
            <tbody>
                {%- for item in trans -%}
                    <tr class="modal-trigger {% if item.status == 'issued' %}r-status--issued{% elsif item.status == 'failed' %}r-status--failed{% endif %}" data-target="transaction_detail">
                        <td>
                            {{ item.date | date: '%d-%m-%y' }}
                        </td>
                        <td>
                            {{ item.from.summary }}
                        </td>
                        <td>
                            {{ item.to.summary }}
                            {% if item.status == 'failed' %}
                                <sup class="r-caps r-fs-nano r-co-danger r-fw-bold r-suffix">Failed</sup>
                            {% endif %}
                        </td>
                        <td>
                            {{ item.payment_type }}
                        </td>
                        <td class="r-format-amount">
                            {{ item.amount }}
                        </td>
                    </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</div>
<div class="r-fab">
    {%- include partials/export-to.html -%}
</div>
<div id="transaction_detail" class="modal">
    <div class="r-d-flex r-flex-dir-col">
        <div class="r-flex_header r-gradient--primary r-co-white">
            <div class="r-gutter r-edges--as-gutter">
                <span class="r-caps r-caps--nano r-fw-bold r-opacity-08">
                    2020 Apr 2 @ 10:24 am
                </span>
                <span class="r-d-flex r-j-c-c r-gutter--half r-format-amount r-fs-medium">
                    234567898.87
                </span>
                <span class="r-d-block">
                    <span class="r-caps r-caps--nano r-fw-bold r-opacity-08">Reference:</span>
                    <span class="r-d-block">stqqtrhz3sgb9de</span>
                </span>
            </div>
        </div>
        <div class="r-flex_main r-gutter r-edges--as-gutter">
            <div class="r-mb-0">
                <div class="r-grid r-grid--6">
                    <p class="r-mb-0">
                        <span class="r-d-block r-opacity-06 r-caps r-caps--nano r-fw-bold">From:</span>
                        <span class="r-d-block r-mb-1 r-fs-micro r-opacity-08">
                            ADX Credit Limited (or Whoever)
                        </span>
                    </p>
                    <p class="r-mb-0 r-j-s-e">
                        <span class="r-d-block r-caps r-caps--nano r-co-danger r-fw-bold">Failed</span>
                    </p>
                </div>
                <p class="r-mb-0">
                    <span class="r-d-block r-opacity-06 r-caps r-caps--nano r-fw-bold">To:</span>
                    <span class="r-d-block r-mb-1 r-fs-micro r-opacity-08">
                        Kabolobari Benakole's **6573
                    </span>
                </p>
            </div>
            <p class="r-mb-0">
                <span class="r-d-block r-opacity-06 r-caps r-caps--nano r-fw-bold">Narration:</span>
                <span class="r-d-block r-fs-micro r-opacity-08">
                    Quis itaque eveniet maiores ratione! Molestiae deserunt in iusto asperiores?
                </span>
            </p>
        </div>
        <div class="r-flex_footer r-gutter--half r-edges--as-gutter r-border-top r-d-flex r-j-c-c">
            <button class="modal-close r-btn r-btn--secondary r-d-flex r-al-i-c">
                <span class="r-fw-medium r-caps r-caps--micro">Done</span>
            </button>
        </div>
    </div>
</div>