<div>
    <div class="r-section-title">
        <h3 class="r-section-title_title">
            Outstanding Payments
        </h3>
    </div>
    <div class=" r-grid r-grid--gap r-grid--6 r-al-i-c">
        <p class="r-mb-0 r-d-flex r-flex-dir-col r-al-i-c r-border-right">
            <span class="r-fs-xlarge r-fw-bold">
                4
            </span>
            <span class="r-caps r-caps--nano r-opacity-06 r-fw-bold">
                Outstanding
            </span>
        </p>
        <p class="r-mb-0 r-progress-meter r-d-flex r-flex-dir-col r-al-i-c" role="progressbar">
            {%- assign val = page.plan_data.progress -%}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" data-value="{{ val }}" class="r-avatar--large">
                <path class="r-progress-meter_bg r-bg-black--thin" d="M41 149.5a77 77 0 1 1 117.93 0"  fill="none"/>
                <path class="r-progress-meter_meter" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none" stroke-dasharray="350" stroke-dashoffset="350"/>
            </svg>
            <span class="r-d-flex r-al-i-bs r-progress-meter_explainer r-mt--h r-fs-small">
                {{ val }}%
            </span>
        </p>
    </div>
</div>