<section class="r-section r-section--padded r-pt-0">
    <h2 class="sr">Main Loan Details</h2>
    <div class="r-gradient {{ cls }} r-br--all r-gutter r-edges--as-gutter">
        <div class="r-grid r-grid--gap r-grid--1-3@lg r-al-i-c r-card-height--minimum">
            <div class="r-w-100% r-tx-c@lg r-gutter--half">
                <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Loan Amount</h3>
                <p class="r-mb-0 r-co-white r-gutter--quarter r-format-amount r-money-format">
                    {{ page.plan_data.total_loan }}
                </p>
            </div>
            <div class="r-w-100% r-tx-c@lg r-gutter--half r-divider-flanks@lg r-divider-flanks--light">
                <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Loan Balance</h3>
                <p class="r-mb-0 r-co-white r-gutter--quarter r-format-amount r-money-format">
                    {{ page.plan_data.balance }}
                </p>
            </div>
            <div class="r-w-100% r-tx-c@lg r-gutter--half">
                <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Interest</h3>
                <p class="r-mb-0 r-co-white r-gutter--quarter">
                    <span class="r-fs-medium">{{ page.plan_data.interest.rate }}%</span>
                    <span class="r-fs-nano r-d-block r-tt-l r-opacity-07 r-suffix--smaller">
                        {{ page.plan_data.interest.per }}
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>