<div class="r-gradient r-gradient--blue r-br--all r-gutter r-edges--as-gutter">
    <div class="r-grid r-grid--gap r-grid--1-3@lg r-al-i-c r-card-height--minimum">
        <div class="r-w-100% r-tx-c@lg r-gutter--half">
            <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Current Returns</h3>
            <p class="r-mb-0 r-co-white r-gutter--quarter r-format-amount r-money-format">
                {{ page.plan_data.returns.current_returns }}
            </p>
            <p class="r-mb-0 r-co-white r-fw-medium r-fs-micro r-d-flex r-al-i-c r-j-c-c@lg">
                <span class="{% if page.plan_data.returns.up_or_down %}r-co-green{% else %}r-co-danger{% endif %} r-lh-0 r-icon--micro r-prefix--smaller">
                    {%- if page.plan_data.returns.up_or_down -%}
                        {%- include tools/icons.html icon="triangle-up" -%}
                    {%- else -%}
                        {%- include tools/icons.html icon="triangle-down" -%}
                    {%- endif -%}
                </span>
                <span class="r-opacity-07">
                    <span>
                        {{ page.plan_data.returns.percentage_up_or_down }} <span class="r-js-today"></span>
                    </span>
                </span>
            </p>
        </div>
        <div class="r-w-100% r-tx-c@lg r-gutter--half r-divider-flanks@lg r-divider-flanks--light">
            <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Lifetime Returns</h3>
            <p class="r-mb-0 r-co-white r-gutter--quarter r-format-amount r-money-format">
                {{ page.plan_data.returns.total_returns }}
            </p>
        </div>
        <div class="r-w-100% r-tx-c@lg r-gutter--half">
            <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Total Funds Invested</h3>
            <p class="r-mb-0 r-co-white r-gutter--quarter r-format-amount r-money-format">
                <span class="r-fs-medium">{{ page.plan_data.funds_invested.total_invested }}</span>
            </p>
        </div>
    </div>
</div>