<section class="r-section r-section--padded">
    <div class="r-content-area">
        <div class="r-section-title">
            <h2 class="r-section-title_title">
                {{ page.recent_transactions.title }}
            </h2>
            <a href="/transactions/" class="r-d-flex r-al-i-c r-fw-bold r-decoration-none r-read-more r-icon-move-on-hover">
                <span class=" r-prefix">View all</span>
                {%- include tools/icons.html icon="arrow-right" -%}
            </a>
        </div>
        <table class="responsive-table striped">
            {%- assign trans = site.data.transactions.transactions -%}
            <thead>
                <tr>
                    {%- for th in trans[0] -%}
                        {%- if th[0] == 'status' -%}
                            {%- continue -%}
                        {%- endif -%}
                        <th>
                            {{ th[0] | replace: '_', ' ' | upcase }}
                        </th>
                    {%- endfor -%}
                </tr>
            </thead>
            <tbody>
                {%- for item in trans limit: 5 -%}
                    <tr class="{% if item.status == 'issued' %}r-status--issued{% elsif item.status == 'failed' %}r-status--failed{% endif %}">
                        <td>
                            {{ item.date | date: '%b %d' }}
                        </td>
                        <td>
                            {{ item.from.summary }}
                        </td>
                        <td>
                            {{ item.to.summary }}
                            {% if item.status == 'failed' %}
                                <sup class="r-caps r-co-danger r-fw-bold">Failed</sup>
                            {% endif %}
                        </td>
                        <td>
                            {{ item.payment_type }}
                        </td>
                        <td class="r-format-amount">
                            {{ item.amount }}
                        </td>
                    </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</section>