<table class="responsive-table striped">
    {%- assign schedule = site.data.schedule -%}
    <thead>
        <tr>
            {%- for th in schedule[0] -%}
                <th>
                    {{ th[0] | replace: '_', ' ' | upcase }}
                </th>
            {%- endfor -%}
        </tr>
    </thead>
    <tbody>
        {%- for item in schedule= -%}
            <tr>
                <td>
                    {{ item.due_date | date: '%b %d, %Y' }}
                </td>
                <td class="r-format-amount">
                    {{ item.principal }}
                </td>
                <td class="r-format-amount">
                    {{ item.interest }}
                </td>
                <td class="r-format-amount">
                    {{ item.total_payable }}
                </td>
            </tr>
        {%- endfor -%}
    </tbody>
</table>