<table class="striped">
    {%- assign trans = site.data.transactions.transactions -%}
    <thead>
        <tr>
            {%- for th in trans[0] -%}
                {%- if th[0] == 'status' or th[0] == 'from' or th[0] == 'to' or th[0] == 'payment_type' -%}
                    {%- continue -%}
                {%- endif -%}
                <th>
                    {{ th[0] | replace: '_', ' ' | upcase }}
                </th>
            {%- endfor -%}
        </tr>
    </thead>
    <tbody>
        {%- for item in trans limit: 3 -%}
            <tr class="{% if item.status == 'issued' %}r-status--issued{% elsif item.status == 'failed' %}r-status--failed{% endif %}">
                <td>
                    {{ item.date | date: '%b %d' }}
                </td>
                <td>
                    <span class="r-format-amount">{{ item.amount }}</span>
                    {% if item.status == 'failed' %}
                        <sup class="r-caps r-co-danger r-fw-bold">Failed</sup>
                    {% endif %}
                </td>
            </tr>
        {%- endfor -%}
    </tbody>
</table>