//
    // Base Styles
    // @package nnpc-inv

html
    font-size: em($base)

*, *::before, *::after
    box-sizing: border-box

body
    margin: 0
    font-family: $font_stack
    line-height: $line_height_default
    background: $color_linen
    color: $color_brown
    overflow-y: auto

p
    font-size: $font_size_default
    margin: 0
    margin-bottom: em($base)
    color: $text_color_default

a
    color: $color_primary
    transition: color $timing_duration $timing_function
    &:active, &:focus, &:hover
        color: darken($color_primary, 10)
    &.r-none
        color: inherit
        text-decoration: none
        &:active, &:focus, &:hover
            color: inherit
            text-decoration: none
    &.r-decoration-none
        text-decoration: none
        &:active, &:focus, &:hover
            text-decoration: none
    &.r-co-secondary
        &:active, &:focus, &:hover
            color: darken($color_secondary, 25%)

input, button, textarea
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    border: none
    border-radius: 0
    background: none
    padding: 0
    box-sizing: border-box
button
    cursor: pointer
    font-family: inherit
    font-size: 96%
    line-height: inherit
    outline: none
label
    cursor: pointer
fieldset
    margin: 0
    padding: 0
    border: 0
    border: $borderline
    border-radius: $border_radius_mini
    text-align: left
    legend
        padding: 0 $prefix

figure
    margin: 0
img
    width: 100%
    object-fit: cover
svg
    pointer-events: none

ul
    &.r-none
        list-style: none
        padding-left: 0
        margin: 0
    li::before
        content: '\200B'
        position: absolute