//
    // Variables & Configurations
    // @package nnpc-inv

// em() from px
@function em($target, $context: $base) { @return ($target / $context) * 1em; }
@function rem($target, $context: $base) { @return ($target / $context) * 1rem; }



// Units
$base: 15px;
$height_control: em(40px);
$input_height: em(45px);
$bar_height: em(56px);
$minimum_card_height: em(152px);
$modal_height_minimum: rem(256px);
$modal_height_regular: rem(392px);
$modal_height_maximum: rem(592px);
$card_height_1: em(132px);
$padding_for_height_adjust: 0.72em;
$margin_for_line_height_adjust: em(-4px);
$timing_duration: .25s;
$timing_function: ease;
$gutter: em($base) * 1.56;
$half_gutter: $gutter * .5;
$gutter_sm: rem($base) * 2.32;
$gradient_degree: 72deg;
$edge: rem($base);
$r-sizing-2: $edge * 1.72;
$suffix: $edge * .5;
$prefix: $suffix;
$half_edge: $edge * .5;




// Colors
$color_primary:#eb4224;
$color_secondary: #2474eb;
$color_brown: #2b0c07;
$color_linen: #fdf1f0;
$color_tearose: #fbdcd7;
$color_black: #160604;
$color_liver: #554948;
$color_iris: #4b4bd7;
$color_red: #e51c23;
$color_error: $color_red;
$color_green: #12d62d;
$color_valid: $color_green;
$color_success: $color_green;
$color_blue: #2a6df4;
$color_black_thin: rgba($color_black, 0.56);
$color_gray: #edf2f7;
$color_grey: #edf2f7;
$color_gray_thin: rgba($color_black, 0.6);
$color_gray_thinner: rgba($color_black, 0.15);
$color_gray_thinnest: rgba($color_black, 0.04);
$color_grey_thinner: rgba($color_black, 0.15);
$color_grey_thinnest: rgba($color_black, 0.04);




// Typography
$font_stack: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
$font_size_default: em($base);
$line_height_default: 1.56;
$line_height_heading: 1.24;
$letter_spacing_default: em(1.25px);
$regular: 400;
$medium: 500;
$bold: 700;
$font_size_nano: em($base) * 0.92;
$font_size_micro: em($base);




// Decorations
$borderline_default_color: rgba($color_black, 0.1);
$text_color_default: rgba($color_black, .75);
$border_color_light: rgba(#fff, 0.15);
$border_default_width: em(1.875px);
$border_width_1px: em(1px);
$borderline: $border_default_width solid $borderline_default_color;
$border_radius: $base;
$border_radius_nano: $border_radius * .56;
$border_radius_mini: $border_radius * .96;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
$thin_shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
$shadow_on_hover: 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.16);
$big_shadow: 0 8px 17px 2px rgba(0,0,0,0.12), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.16);
$big_shadow_on_hover: 0 24px 38px 3px rgba(0,0,0,0.12), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.16);




// Opacities
$opacities: (
    '01': 0.1,
    '02': 0.2,
    '03': 0.3,
    '04': 0.4,
    '05': 0.5,
    '06': 0.6,
    '07': 0.7,
    '08': 0.8,
    '09': 0.9,
    '10': 1.0
);




// Z-Indexes
$zx: (
    '1': 8,
    '2': 16,
    '3': 24,
    '4': 32,
    '5': 40,
    '6': 48,
    '7': 56,
    '8': 64
);




// Color Mapping
$colors: (
    'primary': $color_primary,
    'secondary': $color_secondary,
    'brown': $color_brown,
    'white': #fff,
    'black': $color_black,
    'tearose': $color_tearose,
    'linen': $color_linen,
    'green': $color_green,
    'success': $color_green,
    'danger': $color_red,
    'red': $color_red,
    'black--thin': $color_black_thin
);




// Breakpoints
$breakpoint_xxs: 360px;
$breakpoint_xs: 480px;
$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1280px;
$breakpoint_xxl: 1440px;
$breakpoint_xxxl: 1920px;