//
    // Placeholders
    // @package nnpc-inv

$edge: em($base);

%h {
    margin-top: $gutter;
    margin-bottom: $gutter * .25;
    line-height: $line_height_heading;
    font-weight: bold;
    color: inherit;
}