//
    // Animatiobs
    // @package nnpc-inv


.r-spinner
    display: none
    > *
        +wh(em(8px))
        background-color: $color_primary
        border-radius: 100%
        display: inline-block
        animation: r-bounce-delay 1.4s infinite ease-in-out both
        &:nth-child(1)
            animation-delay: -0.32s
        &:nth-child(2)
            animation-delay: -0.16s
    .r-active &
        display: block

@keyframes r-bounce-delay
    0%, 80%, 100%
        transform: scale(0)
    40%
        transform: scale(1)



// Most Hover States
.r-scale-down--hover
    transition: transform $timing_duration $timing_function
    cursor: pointer
    &:active, &:focus, &:hover
        transform: scale(0.96)

.r-show--hover
    +pos($t: 0, $l: 0)
    +wh(100%)
    background-color: rgba($color_black, 1)
    cursor: pointer
    opacity: 0
    overflow: hidden
    transition: opacity $timing_duration $timing_function, background-color $timing_duration $timing_function
    &:active, &:focus, &:hover
        opacity: 1
        background-color: rgba($color_black, 0.7)