//
    // Colors
    // @package nnpc-inv

// Colors (generated)
.r-co
    +r_colors($colors)
    &-inherit
        color: inherit



// Background Colors
.r-bg
    +r_bg($colors)



// Opacities (generated)
.r-opacity
    +r_opacity($opacities)



// Gradients
.r-gradient
    color: #fff
    &.r-co-black
        @extend .r-co-black
    &--primary
        background: linear-gradient($gradient_degree, $color_primary 0, #eaa524 100%)
    &--secondary
        background: linear-gradient($gradient_degree, $color_secondary 0, #24d7ea 100%)
    &--blue
        background: linear-gradient($gradient_degree, #0b4899 0, #0a8f99 100%)
    &--midnight
        background: linear-gradient($gradient_degree, #1a174d 0, #172b4d 100%)
    &--violet
        background: linear-gradient($gradient_degree, #8338ec 0, #dd37ec 100%)
    &--green
        background: linear-gradient($gradient_degree, #39b54a 0, #38b588 100%)
    &--iris
        background: linear-gradient($gradient_degree, $color_iris 0, #914bd6 100%)
    &--gray
        background: linear-gradient($gradient_degree, $color_gray 0, #f9f9fb 100%)