//
    // General Decoration Styles
    // @package nnpc-inv


.r-border--all
    border: $border_default_width solid $borderline_default_color
.r-border-color--primary
    border-color: $color_primary
.r-border-top, .r-border--top
    border-top: $border_default_width solid $borderline_default_color
.r-border-right
    border-right: $border_default_width solid $borderline_default_color
.r-border-left
    border-left: $border_default_width solid #fff
.r-border--bottom
    border-bottom: $border_default_width solid $borderline_default_color
.r-no-border
    border: none!important
.r-br--all
    border-radius: $border_radius
.r-divider-flanks\@lg
    border: none
    border-top: $borderline
    border-bottom: $borderline
    padding-top: calc(#{$gutter} + (#{$gutter} * .5))
    padding-bottom: $gutter
    +mq(lg)
        border: none
        border-right: $borderline
        border-left: $borderline
        padding-top: $gutter * .5
        padding-bottom: $gutter * .5
.r-divider-flanks--light
    border-color: $border_color_light
.r-divider-flanks--dark
    border-color: rgba($color_black, 0.2)
.r-border-right--as-divider\@md
    border-bottom-width: $border_default_width
    border-bottom-style: solid
    +mq(md)
        border: 0
        border-right-style: solid
        border-right-width: $border_default_width
.r-border--dark
    border-color: $borderline_default_color
.r-border--light
    border-color: $border_color_light
.r-border-right--as-after
    position: relative
    &::after
        content: ''
        +pos($r: 0)
        +wh(em(2px), em(20px))
        background-color: currentColor
        opacity: 0.2
    &:last-child::after
        content: unset
.r-br--100\%
    border-radius: 100%



// Links
.r-read-more
    padding: $half_edge
    padding-right: 0
    .icon.icon
        +wh(em(20px))
        +pos(relative, $t: em(-1.48px))
    &:active, &:focus, &:hover
        color: $color_primary
.r-as-link
    transition: color $timing_duration $timing_function
    &--secondary
        color: $color_secondary
        &:active, &:focus, &:hover
            color: darken($color_secondary, 15%)
.r-link--grey, .r-link--gray
    color: $color_gray_thin
    transition: color $timing_duration $timing_function
    &:active, &:focus, &:hover
        color: $color_black



// Big Number
.r-big-number
    position: relative
    &_currency, &_floats
        position: relative
        font-size: em($base) * 1.12
        opacity: .7
        top: em(-2px)
    &_currency
        margin-right: em(2px)
    &_amount
        font-size: em($base) * 2.16
        font-weight: $bold
    &_floats
        margin-left: em(2px)
    &_explainer
        font-size: em($base)
        opacity: .6
.r-big-number--minimal
    .r-big-number_currency, .r-big-number_floats
        font-size: em($base) * 1.04
    .r-big-number_amount
        font-size: em($base) * 1.84
.r-format-amount
    .r-sides
        font-size: 88%
        opacity: 0.6



// Preferred Money Format
.r-money-format
    .r-amount
        font-size: em($base) * 1.72
        font-weight: $bold
    .r-currency, .r-floats
        position: relative
        font-size: em($base) * 0.96
        opacity: .7
    .r-currency
        top: em(-7px)
        margin-right: em(1px)
    .r-floats
        bottom: 0



.r-status--issued
    .r-format-amount
        color: $color_green
.r-status--failed
    .r-format-amount
        color: $color_red



// Section Title
.r-section-title
    +flex
    border-bottom: $borderline
    margin-bottom: $gutter
    +mq(sm)
        margin-bottom: $gutter_sm
    &_title
        +pos(relative, $b: em(-2.5px))
        margin: 0
        opacity: 0.7
        padding-bottom: $edge * .5
        border-bottom: 3px solid
        font-size: em($base) * 1.25



// Buttons
.r-fab
    +pos(fixed, $r: $edge, $b: $edge)
    @extend .r-zx-4
.r-btn
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 0 $edge
    height: em(36px)
    border-radius: em(40px)
    box-shadow: $shadow
    text-decoration: none
    &:active, &:focus, &:hover
        box-shadow: $shadow_on_hover
        text-decoration: none
    &_icon-adjust
        padding-right: em(3px)
    &--primary, &--floating, &--secondary
        background-color: $color_primary
        color: #fff
        &:active, &:focus, &:hover
            color: #fff
    &--secondary
        background-color: $color_secondary
    &--floating
        +wh(em(48px))
        padding: 0
        border-radius: 100%
    &--match-input
        width: 100%
        border-radius: $border_radius_nano
        height: $input_height
    &--left-floated-icon
        justify-content: flex-start
        position: relative
        .r-btn_text
            +pos(absolute, $t: 50%, $l: 50%)
            transform: translate(-50%, -50%)
    &.r-active
    &[disabled]
        background-color: rgba($color_black, 0.1)
        color: rgba($color_black, 0.3)
        cursor: not-allowed
        pointer-events: none
    &--neutral
        color: inherit
        background-color: inherit
        border: none
        border-radius: 0
        box-shadow: none
        &:active, &:focus, &:hover
            color: inherit
            background-color: inherit
            border: none
            border-radius: 0
            box-shadow: none
            opacity: 0.7



// Cards
.r-card
    padding: $edge
    box-shadow: $shadow
    transition: box-shadow $timing_duration $timing_function, border $timing_duration $timing_function
    border-radius: $border_radius_mini
    &:active, &:focus, &:hover
        box-shadow: $big_shadow_on_hover
    &.r-hover--none
        &:active, &:focus, &:hover
            box-shadow: $shadow
    &--literal
        display: flex
        flex-direction: column
        height: em(236px)
        &_middle
            flex: 1
            transform: translateY(em(-8px))
    &--vertical
        height: em(424px)
    &--minimal-shadow
        box-shadow: $shadow
        &:active, &:focus, &:hover
            box-shadow: $big_shadow
    &--no-shadow
        box-shadow: none
        &:active, &:focus, &:hover
            box-shadow: none
    &--border
        border-width: em(1.875px)
        border-style: solid
    &--border--primary
        border-color: rgba($color_primary, 0.1)
        &:active, &:focus, &:hover
            border-color: $color_primary
    &--border--secondary
        border-color: rgba($color_secondary, 0.1)
        &:active, &:focus, &:hover
            border-color: $color_primary
    &.r-hover--none
        &:active, &:focus, &:hover
            border-color: rgba($color_secondary, 0.1)

.r-reveal
    position: relative
    overflow-y: hidden
    transition: background $timing_duration $timing_function, transform $timing_duration $timing_function
    &_content
        +pos($t: 0, $l: 0)
        +wh(100%)
        @extend .r-gradient--primary
        color: #fff
        z-index: 8
        transform: translateY(98%)
        transition: transform $timing_duration $timing_function
    &:active, &:focus, &:hover
        .r-reveal_content
            transform: translateY(96%)
    &.r-active
        .r-reveal_content
            transform: translateY(0)
.r-activator
    +pos($t: 0, $r: 0)
    padding: $edge
    z-index: 10
    svg
        transition: all $timing_duration $timing_function
        stroke-width: 2.5
.r-active .r-activator
    color: #fff
    svg
        transform: rotate(180deg)




// Progress Meter & Bar
.r-progress-meter
    position: relative
    svg
        +wh(48px)
        path
            will-change: auto
            stroke-width: em(20px)
            stroke-miterlimit: round
            transition: stroke-dashoffset 800ms ease-in-out
        &.r-avatar--large
            @extend .r-avatar--large
    &_bg
        stroke: #fff
    .r-bg-black--thin
        stroke: $color_gray_thinner
    &_meter
        stroke: $color_green
    &_explainer
.r-progressbar
    display: block
    width: 50%
    background-color: $color_gray
    height: em(10px)
    border-radius: em(15px)
    &_bar
        height: em(10px)
        border-radius: em(15px)
        background-color: $color_secondary
        transition: width $timing_duration $timing_function
        will-change: width



// Pagination
.r-pagination
    li
        a
            +flex($justify: center)
            font-size: em($base) * .88
            +wh(32px)
            border: $borderline
            border-radius: 50%
            margin-right: $half_edge
            background-color: $color_linen
            @extend .r-co-brown
            transition: all $timing_duration $timing_function
        &.active a, a:focus, a:hover
            background-color: $color_primary
            color: #fff
            border-color: $color_primary
        &.disabled a
            pointer-events: none
            opacity: 0.7
            border: none
            background: none
            transform: translateY(em(-4px))
        &:last-child a
            margin-right: 0



// Media Object
.r-media-object
    display: flex
    &_figure, &_figure--adjust\@md
        margin-right: $edge
    &_body
        flex: 1
    &_figure--adjust\@md
        +mq(md)
            margin-right: $edge * 2




// Forms
.r-styled--as-input
    background-color: transparent
    border: $border_default_width solid rgba($color_black, 0.15)
    border-radius: $border_radius_nano
    height: $input_height

.r-radio--as-card
    > label
        cursor: pointer
        height: $card_height_1
        border-radius: $border_radius_mini
        box-shadow: $shadow
        border: 3px solid rgba(#fff, 1)
        position: relative
    > input
        + label::before
            content: ''
            position: absolute
            +wh(calc(100% + 10px))
            border-radius: $border_radius_mini
            border: 3px solid transparent
            transition: .3s
        &:checked + label, &:focus + label, &:hover + label
            &::before
                border-color: $color_secondary



.r-stacked-input
    label
        +flex($justify: unset)
        padding-top: $half_edge
        padding-bottom: $half_edge