//
    // The Dropdown Component
    // @package nnpc-inv

.r-dropdown
    position: relative
    &_list
        position: absolute
        min-width: 196px
        background: #fff
        z-index: 16
        border-radius: $border_radius * .5