//
    // Forms
    // @package nnpc-inv


/* Text Inputs + Textarea
   ========================================================================== */
/* Style Placeholders */
::-webkit-input-placeholder { color: #d1d1d1; }
::-moz-placeholder { color: #d1d1d1; }
:-ms-input-placeholder { color: #d1d1d1; }
::-ms-input-placeholder { color: #d1d1d1; }
::placeholder { color: #d1d1d1; }

/* Text inputs */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    background-color: transparent;
    border: $border_default_width solid rgba($color_black, 0.15);
    border-radius: $border_radius_nano;
    outline: none;
    height: $input_height;
    width: 100%;
    font: inherit;
    font-size: $font_size_default;
    padding: 0 $half_gutter;
    color: $text_color_default;
    transition: box-shadow .3s, border .3s;
}



input:not([type]):disabled, input:not([type])[readonly="readonly"],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly="readonly"],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly="readonly"],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly="readonly"],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly="readonly"],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly="readonly"],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly="readonly"],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly="readonly"],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly="readonly"],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly="readonly"],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
    color: rgba($color_black, 0.42);
    border-bottom: $border_default_width dotted rgba($color_black, 0.42);
}



input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type=text]:not(.browser-default):disabled + label,
input[type=text]:not(.browser-default)[readonly="readonly"] + label,
input[type=password]:not(.browser-default):disabled + label,
input[type=password]:not(.browser-default)[readonly="readonly"] + label,
input[type=email]:not(.browser-default):disabled + label,
input[type=email]:not(.browser-default)[readonly="readonly"] + label,
input[type=url]:not(.browser-default):disabled + label,
input[type=url]:not(.browser-default)[readonly="readonly"] + label,
input[type=time]:not(.browser-default):disabled + label,
input[type=time]:not(.browser-default)[readonly="readonly"] + label,
input[type=date]:not(.browser-default):disabled + label,
input[type=date]:not(.browser-default)[readonly="readonly"] + label,
input[type=datetime]:not(.browser-default):disabled + label,
input[type=datetime]:not(.browser-default)[readonly="readonly"] + label,
input[type=datetime-local]:not(.browser-default):disabled + label,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"] + label,
input[type=tel]:not(.browser-default):disabled + label,
input[type=tel]:not(.browser-default)[readonly="readonly"] + label,
input[type=number]:not(.browser-default):disabled + label,
input[type=number]:not(.browser-default)[readonly="readonly"] + label,
input[type=search]:not(.browser-default):disabled + label,
input[type=search]:not(.browser-default)[readonly="readonly"] + label,
textarea.materialize-textarea:disabled + label,
textarea.materialize-textarea[readonly="readonly"] + label {
    color: rgba($color_black, 0.42);
}



input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: $border_default_width solid $color_secondary;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label { color: $color_secondary; }

input:not([type]):focus.valid ~ label,
input[type=text]:not(.browser-default):focus.valid ~ label,
input[type=password]:not(.browser-default):focus.valid ~ label,
input[type=email]:not(.browser-default):focus.valid ~ label,
input[type=url]:not(.browser-default):focus.valid ~ label,
input[type=time]:not(.browser-default):focus.valid ~ label,
input[type=date]:not(.browser-default):focus.valid ~ label,
input[type=datetime]:not(.browser-default):focus.valid ~ label,
input[type=datetime-local]:not(.browser-default):focus.valid ~ label,
input[type=tel]:not(.browser-default):focus.valid ~ label,
input[type=number]:not(.browser-default):focus.valid ~ label,
input[type=search]:not(.browser-default):focus.valid ~ label,
textarea.materialize-textarea:focus.valid ~ label { color: $color_valid; }

input:not([type]):focus.invalid ~ label,
input[type=text]:not(.browser-default):focus.invalid ~ label,
input[type=password]:not(.browser-default):focus.invalid ~ label,
input[type=email]:not(.browser-default):focus.invalid ~ label,
input[type=url]:not(.browser-default):focus.invalid ~ label,
input[type=time]:not(.browser-default):focus.invalid ~ label,
input[type=date]:not(.browser-default):focus.invalid ~ label,
input[type=datetime]:not(.browser-default):focus.invalid ~ label,
input[type=datetime-local]:not(.browser-default):focus.invalid ~ label,
input[type=tel]:not(.browser-default):focus.invalid ~ label,
input[type=number]:not(.browser-default):focus.invalid ~ label,
input[type=search]:not(.browser-default):focus.invalid ~ label,
textarea.materialize-textarea:focus.invalid ~ label {
    color: $color_error;
}



input:not([type]).validate + label,
input[type=text]:not(.browser-default).validate + label,
input[type=password]:not(.browser-default).validate + label,
input[type=email]:not(.browser-default).validate + label,
input[type=url]:not(.browser-default).validate + label,
input[type=time]:not(.browser-default).validate + label,
input[type=date]:not(.browser-default).validate + label,
input[type=datetime]:not(.browser-default).validate + label,
input[type=datetime-local]:not(.browser-default).validate + label,
input[type=tel]:not(.browser-default).validate + label,
input[type=number]:not(.browser-default).validate + label,
input[type=search]:not(.browser-default).validate + label,
textarea.materialize-textarea.validate + label {
    display: block;
}



/* Validation Sass Placeholders */
input.valid:not([type]), input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border: $border_default_width solid $color_valid;
}

input.invalid:not([type]), input.invalid:not([type]):focus,
input.invalid[type=text]:not(.browser-default),
input.invalid[type=text]:not(.browser-default):focus,
input.invalid[type=password]:not(.browser-default),
input.invalid[type=password]:not(.browser-default):focus,
input.invalid[type=email]:not(.browser-default),
input.invalid[type=email]:not(.browser-default):focus,
input.invalid[type=url]:not(.browser-default),
input.invalid[type=url]:not(.browser-default):focus,
input.invalid[type=time]:not(.browser-default),
input.invalid[type=time]:not(.browser-default):focus,
input.invalid[type=date]:not(.browser-default),
input.invalid[type=date]:not(.browser-default):focus,
input.invalid[type=datetime]:not(.browser-default),
input.invalid[type=datetime]:not(.browser-default):focus,
input.invalid[type=datetime-local]:not(.browser-default),
input.invalid[type=datetime-local]:not(.browser-default):focus,
input.invalid[type=tel]:not(.browser-default),
input.invalid[type=tel]:not(.browser-default):focus,
input.invalid[type=number]:not(.browser-default),
input.invalid[type=number]:not(.browser-default):focus,
input.invalid[type=search]:not(.browser-default),
input.invalid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea.invalid:focus, .select-wrapper.invalid > input.select-dropdown,
.select-wrapper.invalid > input.select-dropdown:focus {
    border: $border_default_width solid $color_error;
}

input:not([type]).valid ~ .helper-text[data-success],
input:not([type]):focus.valid ~ .helper-text[data-success],
input:not([type]).invalid ~ .helper-text[data-error],
input:not([type]):focus.invalid ~ .helper-text[data-error],
input[type=text]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=text]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=text]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=text]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=password]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=password]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=password]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=password]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=email]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=email]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=email]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=email]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=url]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=url]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=url]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=url]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=time]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=time]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=time]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=time]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=date]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=date]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=date]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=date]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=datetime]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=datetime]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=datetime]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=datetime]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=datetime-local]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=datetime-local]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=datetime-local]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=datetime-local]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=tel]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=tel]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=tel]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=tel]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=number]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=number]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=number]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=number]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
input[type=search]:not(.browser-default).valid ~ .helper-text[data-success],
input[type=search]:not(.browser-default):focus.valid ~ .helper-text[data-success],
input[type=search]:not(.browser-default).invalid ~ .helper-text[data-error],
input[type=search]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
textarea.materialize-textarea.valid ~ .helper-text[data-success],
textarea.materialize-textarea:focus.valid ~ .helper-text[data-success],
textarea.materialize-textarea.invalid ~ .helper-text[data-error],
textarea.materialize-textarea:focus.invalid ~ .helper-text[data-error], .select-wrapper.valid .helper-text[data-success],
.select-wrapper.invalid ~ .helper-text[data-error] {
    color: transparent;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
}

input:not([type]).valid ~ .helper-text:after,
input:not([type]):focus.valid ~ .helper-text:after,
input[type=text]:not(.browser-default).valid ~ .helper-text:after,
input[type=text]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=password]:not(.browser-default).valid ~ .helper-text:after,
input[type=password]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=email]:not(.browser-default).valid ~ .helper-text:after,
input[type=email]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=url]:not(.browser-default).valid ~ .helper-text:after,
input[type=url]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=time]:not(.browser-default).valid ~ .helper-text:after,
input[type=time]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=date]:not(.browser-default).valid ~ .helper-text:after,
input[type=date]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=datetime]:not(.browser-default).valid ~ .helper-text:after,
input[type=datetime]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=datetime-local]:not(.browser-default).valid ~ .helper-text:after,
input[type=datetime-local]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=tel]:not(.browser-default).valid ~ .helper-text:after,
input[type=tel]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=number]:not(.browser-default).valid ~ .helper-text:after,
input[type=number]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=search]:not(.browser-default).valid ~ .helper-text:after,
input[type=search]:not(.browser-default):focus.valid ~ .helper-text:after,
textarea.materialize-textarea.valid ~ .helper-text:after,
textarea.materialize-textarea:focus.valid ~ .helper-text:after, .select-wrapper.valid ~ .helper-text:after {
    content: attr(data-success);
    color: $color_valid;
}

input:not([type]).invalid ~ .helper-text:after,
input:not([type]):focus.invalid ~ .helper-text:after,
input[type=text]:not(.browser-default).invalid ~ .helper-text:after,
input[type=text]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=password]:not(.browser-default).invalid ~ .helper-text:after,
input[type=password]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=email]:not(.browser-default).invalid ~ .helper-text:after,
input[type=email]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=url]:not(.browser-default).invalid ~ .helper-text:after,
input[type=url]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=time]:not(.browser-default).invalid ~ .helper-text:after,
input[type=time]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=date]:not(.browser-default).invalid ~ .helper-text:after,
input[type=date]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=datetime]:not(.browser-default).invalid ~ .helper-text:after,
input[type=datetime]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=datetime-local]:not(.browser-default).invalid ~ .helper-text:after,
input[type=datetime-local]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=tel]:not(.browser-default).invalid ~ .helper-text:after,
input[type=tel]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=number]:not(.browser-default).invalid ~ .helper-text:after,
input[type=number]:not(.browser-default):focus.invalid ~ .helper-text:after,
input[type=search]:not(.browser-default).invalid ~ .helper-text:after,
input[type=search]:not(.browser-default):focus.invalid ~ .helper-text:after,
textarea.materialize-textarea.invalid ~ .helper-text:after,
textarea.materialize-textarea:focus.invalid ~ .helper-text:after, .select-wrapper.invalid ~ .helper-text:after {
    content: attr(data-error);
    color: $color_error;
}

input:not([type]) + label:after,
input[type=text]:not(.browser-default) + label:after,
input[type=password]:not(.browser-default) + label:after,
input[type=email]:not(.browser-default) + label:after,
input[type=url]:not(.browser-default) + label:after,
input[type=time]:not(.browser-default) + label:after,
input[type=date]:not(.browser-default) + label:after,
input[type=datetime]:not(.browser-default) + label:after,
input[type=datetime-local]:not(.browser-default) + label:after,
input[type=tel]:not(.browser-default) + label:after,
input[type=number]:not(.browser-default) + label:after,
input[type=search]:not(.browser-default) + label:after,
textarea.materialize-textarea + label:after, .select-wrapper + label:after {
    content: '';
    position: absolute;
    top: 100%;
    left: $half_gutter;
    opacity: 0;
    transition: all .25s ease;
}

.input-field {
    position: relative;
    margin-top: $gutter;
}
.input-field.inline {
    display: inline-block;
    vertical-align: middle;
    margin-left: $half_edge;
}
.input-field.r-select-wrapper {
    margin-top: calc(#{$gutter} + 4px);
}

.input-field.inline input,
.input-field.inline .select-dropdown {
    margin-bottom: $half_gutter;
}

.input-field.col label {
    left: 0.75rem;
}

.input-field.col .prefix ~ label,
.input-field.col .prefix ~ .validate ~ label {
    width: calc(100% - 3rem - 1.5rem);
}

.input-field > label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: $half_gutter;
    font-size: $font_size_nano;
    cursor: text;
    transition: all .25s ease;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(em(12.5px));
}
.input-field.r-select-wrapper > label {
    left: 0;
}

.input-field > label:not(.label-icon).active {
    transform: translateY(em(-9px)) scale(0.88);
    transform-origin: 0 0;
    background-color: #fff;
    padding: 0 em(3px);
}

.input-field > input[type]:-webkit-autofill:not(.browser-default):not([type="search"]) + label,
.input-field > input[type=date]:not(.browser-default) + label,
.input-field > input[type=time]:not(.browser-default) + label {
    transform: translateY(-14px);
    transform-origin: 0 0;
}

.input-field .helper-text {
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: rgba($color_black, 0.54);
}

.input-field .helper-text::after {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: 0.5rem;
}

.input-field .prefix.active {
    color: $color_secondary;
}

.input-field .prefix ~ input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .helper-text,
.input-field .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.input-field .prefix ~ label {
margin-left: 3rem;
}

@media only screen and (max-width: 992px) {
.input-field .prefix ~ input {
    width: 86%;
    width: calc(100% - 3rem);
}
}

@media only screen and (max-width: 600px) {
.input-field .prefix ~ input {
    width: 80%;
    width: calc(100% - 3rem);
}
}

/* Search Field */
.input-field input[type=search] {
display: block;
line-height: inherit;
-webkit-transition: .3s background-color;
transition: .3s background-color;
}

.nav-wrapper .input-field input[type=search] {
height: inherit;
padding-left: 4rem;
width: calc(100% - 4rem);
border: 0;
-webkit-box-shadow: none;
        box-shadow: none;
}

.input-field input[type=search]:focus:not(.browser-default) {
background-color: #fff;
border: 0;
-webkit-box-shadow: none;
        box-shadow: none;
color: #444;
}

.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
color: #444;
}

.input-field input[type=search] + .label-icon {
-webkit-transform: none;
        transform: none;
left: 1rem;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
position: absolute;
top: 0;
right: 1rem;
color: transparent;
cursor: pointer;
font-size: 2rem;
-webkit-transition: .3s color;
transition: .3s color;
}

/* Textarea */
textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent;
    height: $input_height * 2;
    line-height: $line_height_default;
    width: 100%;
    font-size: $font_size_default;
}

textarea.materialize-textarea {
    // line-height: normal;
    overflow-y: hidden;
    /* prevents scroll bar flash */
    padding: $half_gutter;
    /* prevents text jump on Enter keypress */
    resize: none;
    min-height: $input_height * 2;
}

.hiddendiv {
visibility: hidden;
white-space: pre-wrap;
word-wrap: break-word;
overflow-wrap: break-word;
/* future version of deprecated 'word-wrap' */
padding-top: 1.2rem;
/* prevents text jump on Enter keypress */
position: absolute;
top: 0;
z-index: -1;
}

/* Autocomplete */
.autocomplete-content li .highlight {
color: #444;
}

.autocomplete-content li img {
height: 40px;
width: 40px;
margin: 5px 15px;
}

/* Character Counter */
.character-counter {
min-height: 18px;
}

/* Radio Buttons
    ========================================================================== */
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
    position: relative;
    padding-left: em(30px);
    cursor: pointer;
    display: inline-block;
    height: em(25px);
    line-height: em(25px);
    font-size: $font_size_default;
    transition: .25s ease;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

[type="radio"] + span:before,
[type="radio"] + span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @include wh(18px);
    z-index: 0;
    transition: .25s ease;
}

/* Unchecked styles */
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after,
[type="radio"]:checked + span:before,
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border-radius: 50%;
}

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
    border: 2px solid currentColor;
}

[type="radio"]:not(:checked) + span:after {
    transform: translateY(-50%) scale(0);
}

/* Checked styles */
[type="radio"]:checked + span:before {
    border: 2px solid transparent;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid $color_secondary;
}

[type="radio"].with-gap:checked + span {
    color: $color_secondary;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: $color_secondary;
}

[type="radio"]:checked + span:after {
    transform: translateY(-50%) scale(1.04);
}

/* Radio With gap */
[type="radio"].with-gap:checked + span:after {
    transform: translateY(-50%) scale(0.5);
}

/* Focused styles */
[type="radio"].tabbed:focus + span:before {
    box-shadow: 0 0 0 10px rgba($color_black, 0.1);
}

/* Disabled Radio With gap */
[type="radio"].with-gap:disabled:checked + span:before {
    border: 2px solid rgba($color_black, 0.42);
}

[type="radio"].with-gap:disabled:checked + span:after {
    border: none;
    background-color: rgba($color_black, 0.42);
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + span:before,
[type="radio"]:disabled:checked + span:before {
    background-color: transparent;
    border-color: rgba($color_black, 0.42);
}

[type="radio"]:disabled + span {
    color: rgba($color_black, 0.42);
}

[type="radio"]:disabled:not(:checked) + span:before {
    border-color: rgba($color_black, 0.42);
}

[type="radio"]:disabled:checked + span:after {
    background-color: rgba($color_black, 0.42);
    border-color: #949494;
}



/* Checkboxes
    ========================================================================== */
/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

[type="checkbox"] + span:not(.lever) {
    position: relative;
    padding-left: em(35px);
    cursor: pointer;
    display: inline-block;
    height: em(25px);
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

[type="checkbox"] + span:not(.lever):before,
[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    @include wh(em(25px));
    z-index: 0;
    border: em(2px) solid currentColor;
    border-radius: em(1.2px);
    margin-top: em(3px);
    transition: .25s;
}

[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    border: 0;
    transform: scale(0);
}

[type="checkbox"]:not(:checked):disabled + span:not(.lever):before {
    border: none;
    background-color: rgba($color_black, 0.42);
}

[type="checkbox"].tabbed:focus + span:not(.lever):after {
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba($color_black, 0.1);
    background-color: rgba($color_black, 0.1);
}

[type="checkbox"]:checked + span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $color_secondary;
    border-bottom: 2px solid $color_secondary;
    transform: rotate(40deg);
    backface-visibility: hidden;
    transform-origin: 100% 100%;
}

[type="checkbox"]:checked:disabled + span:before {
    border-right: 2px solid rgba($color_black, 0.42);
    border-bottom: 2px solid rgba($color_black, 0.42);
}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + span:not(.lever):before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid $color_secondary;
    border-bottom: none;
    transform: rotate(90deg);
    backface-visibility: hidden;
    transform-origin: 100% 100%;
}

[type="checkbox"]:indeterminate:disabled + span:not(.lever):before {
    border-right: 2px solid rgba($color_black, 0.42);
    background-color: transparent;
}

[type="checkbox"].filled-in + span:not(.lever):after {
    border-radius: 2px;
}

[type="checkbox"].filled-in + span:not(.lever):before,
[type="checkbox"].filled-in + span:not(.lever):after {
    content: '';
    left: 0;
    position: absolute;
    /* .1s delay is for check animation */
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    transform: rotateZ(37deg);
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    @include wh(em(25px));
    background-color: transparent;
    border: em(2px) solid currentColor;
    top: 0;
    z-index: 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever):before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotateZ(37deg);
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    top: 0;
    @include wh(em(25px));
    border: 2px solid $color_secondary;
    background-color: $color_secondary;
    z-index: 0;
}

[type="checkbox"].filled-in.tabbed:focus + span:not(.lever):after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba($color_black, 0.1);
}

[type="checkbox"].filled-in.tabbed:checked:focus + span:not(.lever):after {
    border-radius: 2px;
    background-color: $color_secondary;
    border-color: $color_secondary;
}

[type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):before {
background-color: transparent;
border: 2px solid transparent;
}

[type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):after {
border-color: transparent;
background-color: #949494;
}

[type="checkbox"].filled-in:disabled:checked + span:not(.lever):before {
background-color: transparent;
}

[type="checkbox"].filled-in:disabled:checked + span:not(.lever):after {
background-color: #949494;
border-color: #949494;
}

/* Switch
    ========================================================================== */
.switch,
.switch * {
-webkit-tap-highlight-color: transparent;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.switch label {
cursor: pointer;
}

.switch label input[type=checkbox] {
opacity: 0;
width: 0;
height: 0;
}

.switch label input[type=checkbox]:checked + .lever {
background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked + .lever:before, .switch label input[type=checkbox]:checked + .lever:after {
left: 18px;
}

.switch label input[type=checkbox]:checked + .lever:after {
background-color: $color_secondary;
}

.switch label .lever {
content: "";
display: inline-block;
position: relative;
width: 36px;
height: 14px;
background-color: rgba($color_black, 0.38);
border-radius: 15px;
margin-right: 10px;
-webkit-transition: background 0.3s ease;
transition: background 0.3s ease;
vertical-align: middle;
margin: 0 16px;
}

.switch label .lever:before, .switch label .lever:after {
content: "";
position: absolute;
display: inline-block;
width: 20px;
height: 20px;
border-radius: 50%;
left: 0;
top: -3px;
-webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}

.switch label .lever:before {
background-color: rgba(38, 166, 154, 0.15);
}

.switch label .lever:after {
background-color: #F1F1F1;
-webkit-box-shadow: 0px 3px 1px -2px rgba($color_black, 0.2), 0px 2px 2px 0px rgba($color_black, 0.14), 0px 1px 5px 0px rgba($color_black, 0.12);
        box-shadow: 0px 3px 1px -2px rgba($color_black, 0.2), 0px 2px 2px 0px rgba($color_black, 0.14), 0px 1px 5px 0px rgba($color_black, 0.12);
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
-webkit-transform: scale(2.4);
        transform: scale(2.4);
background-color: rgba(38, 166, 154, 0.15);
}

input[type=checkbox]:not(:disabled) ~ .lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
-webkit-transform: scale(2.4);
        transform: scale(2.4);
    background-color: rgba($color_black, 0.08);
}

.switch input[type=checkbox][disabled] + .lever {
cursor: default;
    background-color: rgba($color_black, 0.12);
}

.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after {
background-color: #949494;
}

/* Select Field
    ========================================================================== */
select { display: none; }
select.browser-default { display: block; }
select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}
.select-label {
    position: absolute;
}
.select-wrapper {
    position: relative;
}
.select-wrapper.valid + label,
.select-wrapper.invalid + label {
    width: 100%;
    pointer-events: none;
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: $border_default_width solid rgba($color_black, 0.15);
    outline: none;
    // height: 3rem;
    // line-height: 3rem;
    width: 100%;
    // font-size: 16px;
    // margin: 0 0 8px 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 1;
    border-radius: 0;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: $border_default_width solid $color_secondary;
}
.select-wrapper .caret {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
    fill: rgba($color_primary, 1);
}
.select-wrapper + label {
    position: absolute;
    top: -24px;
    font-size: 0.8rem;
}
select:disabled {
    color: rgba($color_black, 0.42);
}
.select-wrapper.disabled + label {
    color: rgba($color_black, 0.42);
}
.select-wrapper.disabled .caret {
    fill: rgba($color_black, 0.42);
}
.select-wrapper input.select-dropdown:disabled {
    color: rgba($color_black, 0.42);
    cursor: default;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.select-wrapper i {
    color: rgba($color_black, 0.3);
}
.select-dropdown {
    background-color: white;
    padding-left: 0;
    border-radius: $border_radius_nano;
}
.select-dropdown li {
    padding: $half_edge $edge;
}
.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
    color: rgba($color_black, 0.3);
    background-color: transparent;
}
body.keyboard-focused .select-dropdown.dropdown-content li:focus,
.select-dropdown.dropdown-content li:hover,
.select-dropdown.dropdown-content li.selected {
    background-color: $color_linen;
}

.prefix ~ .select-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.prefix ~ label {
    margin-left: 3rem;
}

.select-dropdown li img {
    height: 40px;
    width: 40px;
    margin: 5px 15px;
    float: right;
}

.select-dropdown li.optgroup {
    border-top: 1px solid #eee;
}

.select-dropdown li.optgroup.selected > span {
    color: rgba($color_black, 0.7);
}

.select-dropdown li.optgroup > span {
    color: rgba($color_black, 0.4);
}

.select-dropdown li.optgroup ~ li.optgroup-option {
    padding-left: 1rem;
}
.select-dropdown.dropdown-content {
    top: 8px!important;
}

/* File Input
    ========================================================================== */
.file-field {
position: relative;
}

.file-field .file-path-wrapper {
overflow: hidden;
padding-left: 10px;
}

.file-field input.file-path {
width: 100%;
}

.file-field .btn, .file-field .btn-large, .file-field .btn-small {
float: left;
height: 3rem;
line-height: 3rem;
}

.file-field span {
cursor: pointer;
}

.file-field input[type=file] {
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
width: 100%;
margin: 0;
padding: 0;
font-size: 20px;
cursor: pointer;
opacity: 0;
filter: alpha(opacity=0);
}

.file-field input[type=file]::-webkit-file-upload-button {
display: none;
}

/* Range
    ========================================================================== */
.range-field {
position: relative;
}

input[type=range],
input[type=range] + .thumb {
cursor: pointer;
}

input[type=range] {
position: relative;
background-color: transparent;
border: none;
outline: none;
width: 100%;
margin: 15px 0;
padding: 0;
}

input[type=range]:focus {
outline: none;
}

input[type=range] + .thumb {
position: absolute;
top: 10px;
left: 0;
border: none;
height: 0;
width: 0;
border-radius: 50%;
background-color: $color_secondary;
margin-left: 7px;
-webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
-webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
}

input[type=range] + .thumb .value {
display: block;
width: 30px;
text-align: center;
color: $color_secondary;
font-size: 0;
-webkit-transform: rotate(45deg);
        transform: rotate(45deg);
}

input[type=range] + .thumb.active {
border-radius: 50% 50% 50% 0;
}

input[type=range] + .thumb.active .value {
color: #fff;
margin-left: -1px;
margin-top: 8px;
font-size: 10px;
}

input[type=range] {
-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
height: 3px;
background: #c2c0c2;
border: none;
}

input[type=range]::-webkit-slider-thumb {
border: none;
height: 14px;
width: 14px;
border-radius: 50%;
background: $color_secondary;
-webkit-transition: -webkit-box-shadow .3s;
transition: -webkit-box-shadow .3s;
transition: box-shadow .3s;
transition: box-shadow .3s, -webkit-box-shadow .3s;
-webkit-appearance: none;
background-color: $color_secondary;
-webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
margin: -5px 0 0 0;
}

.keyboard-focused input[type=range]:focus:not(.active)::-webkit-slider-thumb {
-webkit-box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
        box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

input[type=range] {
/* fix for FF unable to apply focus style bug  */
border: 1px solid white;
/*required for proper track sizing in FF*/
}

input[type=range]::-moz-range-track {
height: 3px;
background: #c2c0c2;
border: none;
}

input[type=range]::-moz-focus-inner {
border: 0;
}

input[type=range]::-moz-range-thumb {
border: none;
height: 14px;
width: 14px;
border-radius: 50%;
background: $color_secondary;
-webkit-transition: -webkit-box-shadow .3s;
transition: -webkit-box-shadow .3s;
transition: box-shadow .3s;
transition: box-shadow .3s, -webkit-box-shadow .3s;
margin-top: -5px;
}

input[type=range]:-moz-focusring {
outline: 1px solid #fff;
outline-offset: -1px;
}

.keyboard-focused input[type=range]:focus:not(.active)::-moz-range-thumb {
box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

input[type=range]::-ms-track {
height: 3px;
background: transparent;
border-color: transparent;
border-width: 6px 0;
/*remove default tick marks*/
color: transparent;
}

input[type=range]::-ms-fill-lower {
background: #777;
}

input[type=range]::-ms-fill-upper {
background: #ddd;
}

input[type=range]::-ms-thumb {
border: none;
height: 14px;
width: 14px;
border-radius: 50%;
background: $color_secondary;
-webkit-transition: -webkit-box-shadow .3s;
transition: -webkit-box-shadow .3s;
transition: box-shadow .3s;
transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.keyboard-focused input[type=range]:focus:not(.active)::-ms-thumb {
box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}