//
    // Avatars, Icons, etc
    // @package nnpc-inv

// Suffix
.r-suffix
    margin-left: $suffix
    &--tighter
        margin-left: $edge * .125
    &--smaller
        margin-left: $edge * .25
    &--wider
        margin-left: $edge
    &--widest
        margin-left: $edge * 1.5



// Prefix
.r-prefix
    margin-right: $prefix
    &--tighter
        margin-right: $edge * .125
    &--smaller
        margin-right: $edge * .25
    &--wider
        margin-right: $edge
    &--widest
        margin-right: $edge * 1.5



// Avatars
.r-avatar
    +wh(em(38px))
    border-radius: 100%
    &--border--white
        border: $border_default_width solid #fff
    &--border--linen
        border: $border_default_width solid $color_linen
    &--border--primary
        border: $border_default_width solid $color_primary
    &--medium
        +wh(em(64px))
    &--large
        +wh(em(104px))
    &--xlarge
        +wh(em(136px))
    &--large-to-xlarge\@md
        +wh(em(104px))
        +mq(md)
            +wh(em(136px))



// Special Cases
.r-icon-tiny
    svg
        +wh($base * .75)
.r-icon--nano
    svg
        +wh($base)
.r-icon--micro
    svg
        +wh($base * 1.12)
.r-icon--small
    svg
        +wh($base * 1.28)
.r-icon--medium
    svg
        +wh($base * 2)
.r-stroke-width--2h
    svg
        stroke-width: em(2.5px)
.r-read-more
    svg
        stroke-width: em(2px)



// Animating Icons
.r-flipping-icon
    transform: rotate(0)
    transition: transform $timing_duration ease-in
    &.r-flip
        transform: rotate(180deg)

.r-icon-move-on-hover
    svg
        transition: transform $timing_duration ease-in
    &:active, &:focus, &:hover
        svg:not(.logo)
            transform: translateX(em(4px))