//
    // Lists
    // @package nnpc-inv


.r-list
    > *
        &:not(:last-child)
            border-bottom: $borderline

.r-list-item
    display: flex
    align-items: center
    text-decoration: none
    font-weight: $medium
    padding: $edge
    background: transparent
    transition: background .3s ease, color .3s ease
    .icon
        opacity: 0.7
    &_text
        opacity: 0.8
    .icon, &_text
        transition: opacity .3s ease
    &.is-active, &:active, &:focus, &:hover
        background: $color_linen
        > *
            opacity: 1
    &.is-vertical-nav
        color: $color_liver
        border-radius: $border_radius_mini
        &.is-active, &:active, &:focus, &:hover
            color: $color_primary
            background-color: $color_tearose