//
    // Modal Windows
    // @package nnpc-inv


.modal
    border-radius: $border_radius_mini
    background: #fff
    width: calc(96% - #{$edge})
    max-width: $breakpoint_sm
    min-height: em(256px)
    &.open.r-d-flex
        display: flex!important