//
    // Tables
    // @package nnpc-inv


// DataTables
.dataTable-top,
.dataTable-bottom
    padding: $edge 0
    padding-top: 0
    +flex($justify: flex-end)
.dataTable-bottom
    padding-top: $edge
.dataTable-search
.dataTable-input
    display: block
    width: 100%
    min-width: em(208px)
    border: $borderline
    height: $height_control
    padding: $half_edge $edge
    border-radius: $height_control
    font-size: em($base)
    transition: all $timing_duration $timing_function
    display: none
    +mq(sm)
        display: inherit
    &:focus
        outline: none
        background: #fff
        border-color: $color_blue
        box-shadow: 0 0 0 3px rgba($color_blue, .2)
.dataTable-pagination
    list-style: none
    +flex($justify: unset)
    li:not(.pager)
        display: none
    .pager
        a
            display: flex
            align-items: center
            color: rgba($color_black, 0.6)
            padding: $half_edge
            margin: 0
            float: unset
            border-radius: 100%
            transition: background $timing_duration $timing_function
            &:focus, &:hover
                background: $color_linen
.dataTable-info,
.dataTable-pagination
.dataTable-info
    margin-left: $edge
    font-size: em(14.40px)
    color: rgba($color_black, 0.75)
.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th
    padding: $edge



table, .r-table
    thead
        tr
            background: #fff
        th
            text-transform: uppercase
            font-size: em(13px)
            font-weight: $bold
            letter-spacing: em(1.2px)
            color: $color_black_thin
    &.highlight > tbody > tr
        transition: background-color $timing_duration $timing_function
        &:focus, &:hover
            background-color: $color_gray_thinnest
    &.striped > tbody > tr:nth-child(odd)
        background-color: $color_gray_thinnest
    th, td
        padding: $edge
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    td
        font-size: em(13px)
        color: rgba($color_black, 0.75)
.r-table--detail
    tbody
        tr
            cursor: pointer