//
    // Tabs
    // @package nnpc-inv

.tabs
    position: relative
    overflow: auto hidden
    +wh(100%, $input_height)
    background-color: #fff
    white-space: nowrap
    .tab
        display: inline-flex
        line-height: $input_height
        height: $input_height
        a
            color: rgba($color_black, 0.3)
            display: block
            +wh(100%)
            text-overflow: ellipsis
            overflow: hidden
            transition: color .25s ease, background-color .25s ease
            &:active, &:focus, &:focus.active, &:hover
                background-color: rgba($color_primary, 0.1)
                color: $color_primary
                outline: none
            &.active
                background-color: transparent
                color: $color_primary
    .indicator
        position: absolute
        bottom: 0
        height: em(2px)
        border-radius: em($base)
        background-color: $color_primary
        will-change: left, right