//
    // Texts
    // @package nnpc-inv

// Line Heights
.r-lh-0
    line-height: 0
.r-lh-1
    line-height: 1




// Headings
h1, h2, h3, h4, .h1, .h2, .h3, .h4
    @extend %h
h3, .h3
    font-size: em($base) * 1.36
    +mq(sm)
        font-size: em($base) * 1.44




// Headlines
.r-headline--small
    font-size: $base * 1.72
    +mq(sm)
        font-size: $base * 1.92
    +mq(md)
        font-size: $base * 2.08




// Alignments
.r-tx-c
    text-align: center
    &\@md
        +mq(md)
            text-align: center
    &\@lg
        +mq(lg)
            text-align: center
.r-tx-l
    text-align: left




// Font Sizes & Weights & Style
.r-fs-pico
    font-size: em($base) * 0.72
.r-fs-nano
    font-size: $font_size_nano
.r-fs-micro
    font-size: $font_size_micro
.r-fs-small
    font-size: em($base) * 1.24
.r-fs-medium
    font-size: em($base) * 1.72
.r-fs-large
    font-size: em($base) * 2.24
.r-fs-xlarge
    font-size: em($base) * 2.56
.r-fs-1
    font-size: em($base)
.r-fs-1\.25
    font-size: em($base) * 1.25
.r-fs-1\.5
    font-size: em($base) * 1.5

.r-fw-medium
    font-weight: $medium
.r-fw-bold
    font-weight: $bold

.r-italic
    font-style: italic



// Caps & Transforms
.r-tt-l
    text-transform: lowercase
.r-tt-u
    text-transform: uppercase
.r-caps
    @extend .r-tt-u
    letter-spacing: $letter_spacing_default
    &--pico
        font-size: em($base) * 0.64
    &--nano
        font-size: em($base) * 0.72
    &--micro
        font-size: em($base) * 0.82
    &--small
        font-size: em($base) * 1.12