{%- case include.icon -%}
    {%- when 'chat' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#EB4224" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chat">
        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" />
    </svg>
    {%- when 'settings' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#EB4224" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-settings">
        <line x1="4" y1="21" x2="4" y2="14" />
        <line x1="4" y1="10" x2="4" y2="3" />
        <line x1="12" y1="21" x2="12" y2="12" />
        <line x1="12" y1="8" x2="12" y2="3" />
        <line x1="20" y1="21" x2="20" y2="16" />
        <line x1="20" y1="12" x2="20" y2="3" />
        <line x1="1" y1="14" x2="7" y2="14" />
        <line x1="9" y1="8" x2="15" y2="8" />
        <line x1="17" y1="16" x2="23" y2="16" />
    </svg>
    {%- when 'payment' -%}
    <svg role="img" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" aria-labelledby="creditCardIconTitle" stroke="#EB4224" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="miter" fill="none" color="#EB4224" class="icon icon-payments">
        <title id="creditCardIconTitle">Credit Card</title>
        <rect width="20" height="14" x="2" y="5" rx="2" />
        <path d="M2,14 L22,14" />
    </svg>
    {%- when 'transactions' -%}
    <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="verifiedIconTitle" stroke="#EB4224" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="miter" fill="none" color="#EB4224" class="icon icon-verified">
        <title id="verifiedIconTitle">Verified</title>
        <path d="M8 12.5L10.5 15L16 9.5" />
        <path d="M12 22C13.2363 22 14.2979 21.2522 14.7572 20.1843C14.9195 19.8068 15.4558 19.5847 15.8375 19.7368C16.9175 20.1672 18.1969 19.9453 19.0711 19.0711C19.9452 18.1969 20.1671 16.9175 19.7368 15.8376C19.5847 15.4558 19.8068 14.9195 20.1843 14.7572C21.2522 14.2979 22 13.2363 22 12C22 10.7637 21.2522 9.70214 20.1843 9.24282C19.8068 9.08046 19.5847 8.54419 19.7368 8.16246C20.1672 7.08254 19.9453 5.80311 19.0711 4.92894C18.1969 4.05477 16.9175 3.83286 15.8376 4.26321C15.4558 4.41534 14.9195 4.1932 14.7572 3.8157C14.2979 2.74778 13.2363 2 12 2C10.7637 2 9.70214 2.74777 9.24282 3.81569C9.08046 4.19318 8.54419 4.41531 8.16246 4.26319C7.08254 3.83284 5.80311 4.05474 4.92894 4.92891C4.05477 5.80308 3.83286 7.08251 4.26321 8.16243C4.41534 8.54417 4.1932 9.08046 3.8157 9.24282C2.74778 9.70213 2 10.7637 2 12C2 13.2363 2.74777 14.2979 3.81569 14.7572C4.19318 14.9195 4.41531 15.4558 4.26319 15.8375C3.83284 16.9175 4.05474 18.1969 4.92891 19.0711C5.80308 19.9452 7.08251 20.1671 8.16243 19.7368C8.54416 19.5847 9.08046 19.8068 9.24282 20.1843C9.70213 21.2522 10.7637 22 12 22Z" />
    </svg>
    {%- when 'investments' -%}
    <svg role="img" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" aria-labelledby="thumbUpIconTitle" stroke="#EB4224" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="miter" fill="none" color="#EB4224" class="icon icon-thumb-up">
        <title id="thumbUpIconTitle">Thumb Up</title>
        <path d="M8,8.73984815 C8,8.26242561 8.17078432,7.80075162 8.4814868,7.43826541 L13.2723931,1.84887469 C13.7000127,1.34998522 14.4122932,1.20614658 15,1.5 C15.5737957,1.78689785 15.849314,2.45205792 15.6464466,3.06066017 L14,8 L18.6035746,8 C18.7235578,8 18.8432976,8.01079693 18.9613454,8.03226018 C20.0480981,8.22985158 20.7689058,9.27101818 20.5713144,10.3577709 L19.2985871,17.3577709 C19.1256814,18.3087523 18.2974196,19 17.3308473,19 L10,19 C8.8954305,19 8,18.1045695 8,17 L8,8.73984815 Z" />
        <path d="M4,18 L4,9" />
    </svg>
    {%- when 'loans' -%}
    <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="supportIconTitle" stroke="#EB4224" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="miter" fill="none" color="#EB4224" class="icon icon-support">
        <title id="supportIconTitle">Support</title>
        <path stroke-linecap="round" d="M11 8L9.42229 7.21115C9.14458 7.07229 8.83835 7 8.52786 7H7.82843C7.29799 7 6.78929 7.21071 6.41421 7.58579L5.58579 8.41421C5.21071 8.78929 5 9.29799 5 9.82843L5 14.9296C5 15.5983 5.3342 16.2228 5.8906 16.5937L9.75746 19.1716C10.4944 19.663 11.4668 19.611 12.1472 19.044L17 15"/>
        <path d="M14.4549 12.9142C13.8515 12.1062 12.741 11.8739 11.8643 12.3721L10.009 13.4266C9.41298 13.7653 8.66412 13.6641 8.17937 13.1794V13.1794C7.54605 12.546 7.59324 11.5056 8.2813 10.9323L12.4437 7.46356C12.8032 7.16403 13.2562 7 13.7241 7H14.5279C14.8384 7 15.1446 7.07229 15.4223 7.21115L17.8944 8.44721C18.572 8.786 19 9.47852 19 10.2361L19 12.9796C19 14.9037 16.5489 15.718 15.3976 14.1764L14.4549 12.9142Z"/>
        <path d="M1 17V8"/>
        <path d="M1 17V8"/>
        <path d="M23 17V8"/>
    </svg>
    {%- when 'home' -%}
    <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="homeAlt2IconTitle" stroke="#EB4224" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="miter" fill="none" color="#EB4224" class="icon icon-home">
        <title id="homeAlt2IconTitle">Home</title>
        <path d="M2 12L5 9.3M22 12L19 9.3M19 9.3L12 3L5 9.3M19 9.3V21H5V9.3" />
    </svg>
    {%- when 'sliders' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-sliders">
        <line x1="4" y1="21" x2="4" y2="14" />
        <line x1="4" y1="10" x2="4" y2="3" />
        <line x1="12" y1="21" x2="12" y2="12" />
        <line x1="12" y1="8" x2="12" y2="3" />
        <line x1="20" y1="21" x2="20" y2="16" />
        <line x1="20" y1="12" x2="20" y2="3" />
        <line x1="1" y1="14" x2="7" y2="14" />
        <line x1="9" y1="8" x2="15" y2="8" />
        <line x1="17" y1="16" x2="23" y2="16" />
    </svg>
    {%- when 'pdf-file' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 482.14 482.14" width="22" height="22" class="icon icon-pdf-file"  fill="currentColor">
        <g>
            <path d="M142.024,310.194c0-8.007-5.556-12.782-15.359-12.782c-4.003,0-6.714,0.395-8.132,0.773v25.69   c1.679,0.378,3.743,0.504,6.588,0.504C135.57,324.379,142.024,319.1,142.024,310.194z" />
            <path d="M202.709,297.681c-4.39,0-7.227,0.379-8.905,0.772v56.896c1.679,0.394,4.39,0.394,6.841,0.394   c17.809,0.126,29.424-9.677,29.424-30.449C230.195,307.231,219.611,297.681,202.709,297.681z" />
            <path d="M315.458,0H121.811c-28.29,0-51.315,23.041-51.315,51.315v189.754h-5.012c-11.418,0-20.678,9.251-20.678,20.679v125.404   c0,11.427,9.259,20.677,20.678,20.677h5.012v22.995c0,28.305,23.025,51.315,51.315,51.315h264.223   c28.272,0,51.3-23.011,51.3-51.315V121.449L315.458,0z M99.053,284.379c6.06-1.024,14.578-1.796,26.579-1.796   c12.128,0,20.772,2.315,26.58,6.965c5.548,4.382,9.292,11.615,9.292,20.127c0,8.51-2.837,15.745-7.999,20.646   c-6.714,6.32-16.643,9.157-28.258,9.157c-2.585,0-4.902-0.128-6.714-0.379v31.096H99.053V284.379z M386.034,450.713H121.811   c-10.954,0-19.874-8.92-19.874-19.889v-22.995h246.31c11.42,0,20.679-9.25,20.679-20.677V261.748   c0-11.428-9.259-20.679-20.679-20.679h-246.31V51.315c0-10.938,8.921-19.858,19.874-19.858l181.89-0.19v67.233   c0,19.638,15.934,35.587,35.587,35.587l65.862-0.189l0.741,296.925C405.891,441.793,396.987,450.713,386.034,450.713z    M174.065,369.801v-85.422c7.225-1.15,16.642-1.796,26.58-1.796c16.516,0,27.226,2.963,35.618,9.282   c9.031,6.714,14.704,17.416,14.704,32.781c0,16.643-6.06,28.133-14.453,35.224c-9.157,7.612-23.096,11.222-40.125,11.222   C186.191,371.092,178.966,370.446,174.065,369.801z M314.892,319.226v15.996h-31.23v34.973h-19.74v-86.966h53.16v16.122h-33.42   v19.875H314.892z" />
        </g>
    </svg>
    {%- when 'csv-file' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 585.918 585.918" class="icon icon-csv-file"  fill="currentColor">
        <g>
            <path d="M357.396,535.325c0.776,0.052,1.542,0.114,2.329,0.114h177.39c20.75,0,37.627-16.883,37.627-37.627V86.597   c0-20.743-16.877-37.628-37.627-37.628h-177.39c-0.781,0-1.553,0.07-2.329,0.118V0L11.176,46.206v492.311l346.22,47.401V535.325z    M357.396,361.212h57.407v21.511h-57.407V361.212z M357.396,358.524v-21.905h57.407v21.905H357.396z M357.396,333.931v-25.13   h57.407v25.13H357.396z M357.396,306.113v-28.131h57.407v28.131H357.396z M357.396,275.688V248.89h57.407v26.798H357.396z    M357.396,246.591v-26.798h56.262h1.146v26.798H357.396z M359.726,70.476h177.39c8.893,0,16.125,7.236,16.125,16.126v411.22   c0,8.888-7.232,16.127-16.125,16.127h-177.39c-0.792,0-1.563-0.121-2.329-0.243V385.018h59.706v-0.005h130.669V214.811h-0.117   v-26.409h-65.848h-2.299h-65.85v0.005h-56.262V70.711C358.162,70.594,358.929,70.476,359.726,70.476z M545.083,219.788v162.532   h-25.092V227.635h-17.228v154.684H488.41V243.525h-17.228v138.794h-12.642V259.223h-17.229v123.096h-24.21V277.977v-2.294v-26.798   v-2.299v-26.798h62.4h2.304H545.083z M481.807,217.499v-26.796h63.55v24.108h-0.273v2.688H481.807z M479.508,217.499h-62.405   h-1.144v-26.796h63.544v26.796H479.508z M98.663,321.536c7.126,0.127,15.097-1.407,19.812-3.327l3.614,19.927   c-4.399,2.226-14.268,4.462-26.974,4.121c-35.293-0.94-53.019-24.741-53.019-55.626c0-36.998,24.302-58.227,55.329-59.043   c12.263-0.329,21.67,2.097,25.933,4.328l-4.882,20.282c-4.869-2.092-11.588-3.969-19.969-3.827   c-18.528,0.309-32.715,12.422-32.715,36.824C65.791,307.152,77.843,321.186,98.663,321.536z M164.763,344.119   c-12.567-0.341-24.829-4.03-30.909-7.711l4.956-21.087c6.595,3.634,16.809,7.36,27.425,7.537   c11.556,0.2,17.722-4.683,17.722-12.225c0-7.219-5.321-11.366-18.707-16.394c-18.228-6.667-29.961-17.096-29.961-33.555   c0-19.32,15.455-34.518,41.512-35.2c12.683-0.339,22.111,2.179,28.903,5.134l-5.771,21.399c-4.569-2.176-12.633-5.315-23.625-5.134   c-10.884,0.178-16.125,5.364-16.125,11.31c0,7.307,6.212,10.482,20.609,16.042c19.99,7.52,29.523,18.271,29.523,34.784   C210.307,328.654,195.525,344.938,164.763,344.119z M288.053,345.61l-32.086-0.829l-37.772-118.466l29.103-0.748l14.551,50.26   c4.128,14.224,7.895,27.957,10.772,42.97l0.548,0.01c3.063-14.436,6.874-28.725,11.058-42.528l15.772-52.055l30.277-0.769   L288.053,345.61z" />
        </g>
    </svg>
    {%- when 'x' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
    </svg>
    {%- when 'thumbs-up' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-thumbs-up">
        <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3" />
    </svg>
    {%- when 'shield' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-shield">
        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z" />
    </svg>
    {%- when 'credit-card' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-credit-card">
        <rect x="1" y="4" width="22" height="16" rx="2" ry="2" />
        <line x1="1" y1="10" x2="23" y2="10" />
    </svg>
    {%- when 'mail' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-mail">
        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
        <polyline points="22,6 12,13 2,6" />
    </svg>
    {%- when 'message-square' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-message-square">
        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" />
    </svg>
    {%- when 'download' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-download">
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
        <polyline points="7 10 12 15 17 10" />
        <line x1="12" y1="15" x2="12" y2="3" />
    </svg>
    {%- when 'triangle-up' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 123.959 123.959" fill="currentColor" class="icon icon-triangle-up">
        <g>
            <path d="M66.18,29.742c-2.301-2.3-6.101-2.3-8.401,0l-56,56c-3.8,3.801-1.1,10.2,4.2,10.2h112c5.3,0,8-6.399,4.2-10.2L66.18,29.742   z" />
        </g>
    </svg>
    {%- when 'triangle-down' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 123.959 123.958" fill="currentColor" class="icon icon-triangle-down">
        <g>
            <path d="M117.979,28.017h-112c-5.3,0-8,6.4-4.2,10.2l56,56c2.3,2.3,6.1,2.3,8.401,0l56-56   C125.979,34.417,123.279,28.017,117.979,28.017z" />
        </g>
    </svg>
    {%- when 'arrow-down' -%}
    <svg role="img" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" aria-labelledby="arrowDownIconTitle" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="miter" fill="none">
        <title id="arrowDownIconTitle">Arrow Down</title>
        <path d="M6 15l6 6 6-6" />
        <path d="M12 3v17" />
        <path stroke-linecap="round" d="M12 21v-1" />
    </svg>
    {%- when 'arrow-up' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-arrow-up">
        <line x1="12" y1="19" x2="12" y2="5" />
        <polyline points="5 12 12 5 19 12" />
    </svg>
    {%- when 'arrow-right' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-arrow-right">
        <line x1="5" y1="12" x2="19" y2="12" />
        <polyline points="12 5 19 12 12 19" />
    </svg>
    {%- when 'dot' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 29.107 29.107" class="icon icon-dot">
        <path fill="currentColor" d="M14.554,0C6.561,0,0,6.562,0,14.552c0,7.996,6.561,14.555,14.554,14.555c7.996,0,14.553-6.559,14.553-14.555 C29.106,6.562,22.55,0,14.554,0z"/>
    </svg>
    {%- when 'plus' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-plus">
        <line x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
    </svg>
    {%- when 'key' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-key">
        <path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4" />
    </svg>
    {%- when 'unlock' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-unlock">
        <rect x="3" y="11" width="18" height="11" rx="2" ry="2" />
        <path d="M7 11V7a5 5 0 0 1 9.9-1" />
    </svg>
    {%- when 'lock' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-lock">
        <rect x="3" y="11" width="18" height="11" rx="2" ry="2" />
        <path d="M7 11V7a5 5 0 0 1 10 0v4" />
    </svg>
    {%- when 'logout' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-log-out">
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
        <polyline points="16 17 21 12 16 7" />
        <line x1="21" y1="12" x2="9" y2="12" />
    </svg>
    {%- when 'login' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-log-in">
        <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
        <polyline points="10 17 15 12 10 7" />
        <line x1="15" y1="12" x2="3" y2="12" />
    </svg>
    {%- when 'more-vertical' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="icon icon-more-vertical">
        <circle cx="12" cy="12" r="1" />
        <circle cx="12" cy="5" r="1" />
        <circle cx="12" cy="19" r="1" />
    </svg>
    {%- when 'menu' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-menu">
        <line x1="3" y1="12" x2="21" y2="12" />
        <line x1="3" y1="6" x2="21" y2="6" />
        <line x1="3" y1="18" x2="21" y2="18" />
    </svg>
    {%- when 'chevron-down' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#eb4224" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-down">
        <polyline points="6 9 12 15 18 9" />
    </svg>
    {%- when 'trash' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-trash">
        <polyline points="3 6 5 6 21 6" />
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
        <line x1="10" y1="11" x2="10" y2="17" />
        <line x1="14" y1="11" x2="14" y2="17" />
    </svg>
    {%- when 'check-circle' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-check-circle">
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />
        <polyline points="22 4 12 14.01 9 11.01" />
    </svg>
    {%- when 'angle-down' -%}
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22" height="22" viewBox="0 0 292.362 292.362" fill="currentColor">
        <path d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424   C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428   s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z"/>
    </svg>
    {%- when 'visa' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 291.801 291.801">
        <g>
            <path style="fill:#2394BC;" d="M226.145,27.338L165.33,188.585l-6.656-31.802c-11.233-36.671-46.5-76.543-85.861-96.364   l55.7,204.044h65.684L291.801,27.34C291.801,27.338,226.145,27.338,226.145,27.338z" />
            <path style="fill:#EFC75E;" d="M136.965,51.473c-3.674-15.008-19.348-23.633-33.252-24.125H1.049L0,32.089   c80.08,19.512,137.494,70.881,159.294,127.392C159.294,159.48,136.965,51.473,136.965,51.473z" />
        </g>
    </svg>
    {%- when 'mastercard' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 -222 2000 2000" class="icon icon-mastercard">
        <path fill="#231f20" d="M1960.59,1534.9v4h3.73a3.93,3.93,0,0,0,2-.51,1.78,1.78,0,0,0,.75-1.53,1.71,1.71,0,0,0-.75-1.49,3.59,3.59,0,0,0-2-.51h-3.73Zm3.77-2.83a6.92,6.92,0,0,1,4.48,1.3,4.3,4.3,0,0,1,1.57,3.54,4.06,4.06,0,0,1-1.26,3.11,6.14,6.14,0,0,1-3.58,1.49l5,5.7h-3.85l-4.6-5.66h-1.49v5.66h-3.22v-15.13h7Zm-1,20.36a12,12,0,0,0,4.91-1,12.86,12.86,0,0,0,4-2.71,12.63,12.63,0,0,0,2.71-4,12.94,12.94,0,0,0,0-9.9,13.07,13.07,0,0,0-2.71-4,12.89,12.89,0,0,0-4-2.71,12.59,12.59,0,0,0-4.91-.94,13.12,13.12,0,0,0-5,.94,12.77,12.77,0,0,0-4.09,2.71,12.92,12.92,0,0,0-2.67,14,11.92,11.92,0,0,0,2.67,4,12.81,12.81,0,0,0,4.09,2.71,12.45,12.45,0,0,0,5,1m0-29a16.74,16.74,0,0,1,11.75,4.8,16,16,0,0,1,3.54,5.19,16.09,16.09,0,0,1,0,12.65,16.88,16.88,0,0,1-3.54,5.19,17.85,17.85,0,0,1-5.27,3.5,16.33,16.33,0,0,1-6.48,1.3,16.6,16.6,0,0,1-6.56-1.3,17.08,17.08,0,0,1-5.31-3.5A16.88,16.88,0,0,1,1948,1546a16.09,16.09,0,0,1,0-12.65,16,16,0,0,1,3.54-5.19,15.8,15.8,0,0,1,5.31-3.5,16.6,16.6,0,0,1,6.56-1.3M432.16,1465.1c0-28.85,18.9-52.55,49.79-52.55,29.52,0,49.44,22.68,49.44,52.55s-19.92,52.55-49.44,52.55c-30.89,0-49.79-23.7-49.79-52.55m132.88,0V1383H529.35V1403c-11.32-14.78-28.49-24.05-51.84-24.05-46,0-82.1,36.08-82.1,86.19s36.08,86.19,82.1,86.19c23.34,0,40.52-9.28,51.84-24.05v19.93H565V1465.1Zm1205.92,0c0-28.85,18.9-52.55,49.8-52.55,29.55,0,49.44,22.68,49.44,52.55s-19.89,52.55-49.44,52.55c-30.89,0-49.8-23.7-49.8-52.55m132.92,0v-148h-35.72V1403c-11.32-14.78-28.49-24.05-51.84-24.05-46,0-82.1,36.08-82.1,86.19s36.08,86.19,82.1,86.19c23.35,0,40.52-9.28,51.84-24.05v19.93h35.72V1465.1ZM1008,1410.86c23,0,37.77,14.42,41.54,39.81H964.38c3.81-23.7,18.2-39.81,43.63-39.81m.71-32c-48.1,0-81.75,35-81.75,86.19,0,52.19,35,86.19,84.14,86.19,24.72,0,47.36-6.17,67.28-23l-17.49-26.45c-13.76,11-31.28,17.17-47.75,17.17-23,0-43.94-10.65-49.09-40.2h121.87c.35-4.44.71-8.92.71-13.72-.36-51.17-32-86.19-77.94-86.19m430.9,86.19c0-28.85,18.9-52.55,49.79-52.55,29.52,0,49.44,22.68,49.44,52.55s-19.92,52.55-49.44,52.55c-30.89,0-49.8-23.7-49.8-52.55m132.88,0V1383H1536.8V1403c-11.36-14.78-28.49-24.05-51.84-24.05-46,0-82.1,36.08-82.1,86.19s36.08,86.19,82.1,86.19c23.35,0,40.48-9.28,51.84-24.05v19.93h35.68V1465.1Zm-334.42,0c0,49.79,34.66,86.19,87.56,86.19,24.72,0,41.19-5.5,59-19.57l-17.14-28.85c-13.4,9.63-27.47,14.78-43,14.78-28.49-.35-49.44-20.95-49.44-52.55s20.95-52.19,49.44-52.55c15.49,0,29.56,5.15,43,14.78l17.14-28.85c-17.84-14.07-34.31-19.57-59-19.57-52.9,0-87.56,36.39-87.56,86.19m460.1-86.19c-20.59,0-34,9.63-43.27,24.05V1383h-35.37v164.12h35.73v-92c0-27.16,11.67-42.25,35-42.25a57.87,57.87,0,0,1,22.32,4.13l11-33.64c-7.9-3.11-18.2-4.48-25.43-4.48m-956.64,17.17c-17.17-11.32-40.83-17.17-66.93-17.17-41.58,0-68.35,19.93-68.35,52.54,0,26.76,19.93,43.27,56.63,48.42l16.86,2.4c19.57,2.75,28.81,7.9,28.81,17.17,0,12.69-13,19.93-37.41,19.93-24.72,0-42.56-7.9-54.59-17.17L599.74,1530c19.57,14.42,44.29,21.3,71.06,21.3,47.4,0,74.87-22.32,74.87-53.57,0-28.85-21.62-43.94-57.34-49.09l-16.82-2.44c-15.45-2-27.83-5.11-27.83-16.11,0-12,11.67-19.22,31.25-19.22,20.95,0,41.23,7.9,51.17,14.07l15.45-28.85ZM1202,1378.91c-20.59,0-34,9.63-43.23,24.05V1383h-35.37v164.12h35.69v-92c0-27.16,11.67-42.25,35-42.25a57.87,57.87,0,0,1,22.32,4.13l11-33.64c-7.9-3.11-18.2-4.48-25.43-4.48M897.44,1383H839.08v-49.79H803V1383H769.71v32.62H803v74.87c0,38.08,14.78,60.76,57,60.76,15.49,0,33.33-4.8,44.65-12.69L894.34,1508c-10.65,6.17-22.32,9.28-31.6,9.28-17.84,0-23.66-11-23.66-27.47v-74.16h58.36ZM363.85,1547.16v-103c0-38.79-24.72-64.89-64.57-65.24-20.95-.35-42.56,6.17-57.69,29.2-11.32-18.2-29.16-29.2-54.24-29.2-17.53,0-34.66,5.15-48.07,24.37V1383H103.56v164.12h36v-91c0-28.49,15.8-43.63,40.2-43.63,23.7,0,35.69,15.45,35.69,43.27v91.34h36.08v-91c0-28.49,16.47-43.63,40.16-43.63,24.37,0,36,15.45,36,43.27v91.34Z" />
        <path fill="#f79410" d="M1980.94,1001.22v-24h-6.25l-7.23,16.47-7.19-16.47H1954v24h4.44V983.14l6.76,15.6h4.6l6.76-15.64v18.12h4.4Zm-39.65,0V981.33h8v-4.05h-20.44v4.05h8v19.89h4.4Z" />
        <path fill="#ff5f00" d="M1270.57,1104.15H729.71v-972h540.87Z" />
        <path fill="#eb001b" d="M764,618.17c0-197.17,92.32-372.81,236.08-486A615.46,615.46,0,0,0,618.09,0C276.72,0,0,276.76,0,618.17s276.72,618.17,618.09,618.17a615.46,615.46,0,0,0,382-132.17C856.34,991,764,815.35,764,618.17" />
        <path fill="#f79e1b" d="M2000.25,618.17c0,341.41-276.72,618.17-618.09,618.17a615.65,615.65,0,0,1-382.05-132.17c143.8-113.19,236.12-288.82,236.12-486s-92.32-372.81-236.12-486A615.65,615.65,0,0,1,1382.15,0c341.37,0,618.09,276.76,618.09,618.17" />
    </svg>
    {%- when 'icon' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000">
        <title>ADX Credit Logo Icon</title>
        <rect fill="#fff" width="2000" height="2000" rx="1000" />
        <polygon fill="#9f9fa1" points="556.34 1221.99 1013.01 256.94 1657.54 1604.31 995.66 630.01 556.34 1221.99" />
        <polygon fill="#ea4425" points="342.46 1650.56 992.77 821.17 1178.66 1104.46 1018.79 1006.17 342.46 1650.56" />
    </svg>
    {%- when 'icon-red' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000">
        <title>ADX Credit Logo Icon (Full Brand Red Background)</title>
        <rect fill="#ea4425" width="2000" height="2000" rx="1000" />
        <polygon fill="#fff" points="556.34 1245.12 1013.01 280.07 1657.54 1627.43 995.66 653.14 556.34 1245.12" />
        <polygon fill="#fff" points="342.46 1673.68 992.77 844.3 1178.66 1127.58 1018.79 1029.29 342.46 1673.68" />
    </svg>
    {%- when 'icon-red-on-white' -%}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000">
        <title>ADX Credit Logo Icon (Red on White Background)</title>
        <rect fill="#fff" width="2000" height="2000" rx="1000"/>
        <g fill="#ea4425">
            <polygon points="556.34 1245.12 1013.01 280.07 1657.54 1627.43 995.66 653.14 556.34 1245.12"/>
            <polygon points="342.46 1673.68 992.77 844.3 1178.66 1127.58 1018.79 1029.29 342.46 1673.68"/>
        </g>
    </svg>
{%- endcase -%}
