<ul class="r-none r-grid r-grid--gap r-grid--autosize">
    {%- assign banks = site.data.banks -%}
    <li class="r-grid_item r-w-100% r-d-flex">
        <a href="#new-bank" class="r-none r-w-100% modal-trigger">
            <div class="r-co-primary r-d-flex r-flex-dir-col r-j-c-c r-al-i-c r-card r-card--literal r-card--no-shadow r-card--border r-card--border--primary">
                <span  class="r-icon--medium">{%- include tools/icons.html icon="plus" -%}</span>
                <span class="r-fw-medium r-fs-small">
                    New Account
                </span>
            </div>
        </a>
    </li>
    {%- for bank in banks -%}
        <li class="r-grid_item">
            <div class="r-none r-w-100% r-card r-p-0 r-card--literal r-card--no-shadow r-gradient r-gradient--primary">
                <p class="r-mb-0 r-flex-1 r-d-flex r-j-c-c r-flex-dir-col r-edges r-co-white">
                    <span class="r-d-block r-opacity-07 r-fs-nano">
                        {{ bank.bank_name }}
                    </span>
                    <span class="r-d-block r-caps r-caps--micro r-fw-bold">
                        {{ bank.account_name }}
                    </span>
                    <span class="r-d-block r-caps r-caps--micro r-fw-bold">
                        {{ bank.account_number }}
                    </span>
                </p>
                <div class="r-d-flex r-al-i-c r-j-c-sb">
                    <form action="">
                        <p class="r-mb-0">
                            <label class="r-d-flex r-al-i-c r-gutter--as-edge r-edges">
                                <input type="checkbox" class="filled-in r-co-white" checked="checked"/>
                                <span class="r-co-white r-caps r-caps--nano r-fw-bold">Primary</span>
                            </label>
                        </p>
                    </form>
                    <div class="r-j-s-fe r-co-white">
                        <button type="button" class="r-btn r-btn--neutral r-d-flex r-al-i-c">
                            {%- include tools/icons.html icon="trash" -%}
                            <span class="r-suffix r-caps r-caps--nano r-fw-bold">Remove</span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
    {%- endfor -%}
</ul>
<!-- New Bank Account Modal -->
<div id="new-bank" class="modal">
    <div class="r-flex--fixed-header-footer r-modal-height--minimum">
        <div class="r-bar-height r-border--bottom r-flex r-al-i-c r-j-c-sb">
            <div class="r-px-2 r-flex-1">
                Header Title Area
            </div>
            <button class="modal-close r-d-flex r-al-i-c r-h-100 r-p-1 r-co-primary">
                {%- include tools/icons.html icon="x" -%}
                <span class="r-sr">Dismiss modal window</span>
            </button>
        </div>
        <div class="r-p-2">
            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
        </div>
        <div class="r-px-2 r-bar-height r-border--top r-flex r-al-i-c r-j-c-fe">
            footer
        </div>
    </div>
</div>