<ul class="r-none r-grid r-grid--gap r-grid--autosize">
    {%- assign cards = site.data.cards -%}
    <li class="r-grid_item r-w-100% r-d-flex">
        <a href="/new-card" class="r-none r-w-100%">
            <div class="r-co-primary r-d-flex r-flex-dir-col r-j-c-c r-al-i-c r-card r-card--literal r-card--no-shadow r-card--border r-card--border--primary">
                <span  class="r-icon--medium">{%- include tools/icons.html icon="plus" -%}</span>
                <span class="r-fw-medium r-fs-small">
                    New Card
                </span>
            </div>
        </a>
    </li>
    {%- for card in cards -%}
        <li class="r-grid_item">
            <div class="r-none r-w-100% r-card r-p-0 r-card--literal r-card--no-shadow r-gradient r-co-black r-gradient--gray r-reveal">
                <div class="r-d-flex r-al-i-c r-j-c-sb r-pos-r">
                    <p class="r-mb-0 r-d-flex r-al-i-c r-p-edges">
                        <span class="r-co-{% if card.status == 'active' %}green{% else %}danger{% endif %} r-icon--nano">
                            {%- include tools/icons.html icon="dot" -%}
                        </span>
                        <span class="r-suffix r-caps r-caps--nano r-opacity-07 r-fw-bold">
                            {{ card.status }}
                        </span>
                    </p>
                    <button class="r-activator r-co-primary r-lh-0">
                        {%- include tools/icons.html icon="arrow-up" -%}
                    </button>
                </div>
                <p class="r-mb-0 r-flex-1 r-d-flex r-j-c-c r-flex-dir-col r-edges">
                    <span class="r-d-block r-caps r-caps--micro r-fw-bold">
                        {{ card.card_number }}
                    </span>
                    <span class="r-d-block r-opacity-07 r-fs-nano">
                        {{ card.validity.month }}/{{ card.validity.year }}
                    </span>
                </p>
                <div class="r-w-100% r-d-flex r-al-i-c r-j-c-sb r-edges r-gutter--as-edge">
                    {%- if forloop.index == 1 -%}
                        <span class="r-co-primary r-d-flex r-al-i-c">
                            {%- include tools/icons.html icon="check-circle" -%}
                            <span class="r-co-brown r-suffix r-caps r-caps--nano r-opacity-07 r-fw-bold">Primary</span>
                        </span>
                    {%- endif -%}
                    <div class="r-d-flex r-j-s-fe">
                        {%- include tools/icons.html icon=card.card_type -%}
                    </div>
                </div>
                <div class="r-reveal_content r-card--literal">
                    <div class="r-mb-0 r-flex-1 r-d-flex r-flex-dir-col r-j-c-c r-edges">
                        <p class="r-mb-0 r-co-white">
                            <span class="r-d-block r-opacity-07 r-caps r-caps--nano r-fw-bold">
                                Issuing Bank:
                            </span>
                            <span class="r-d-block r-fs-micro r-fw-bold">
                                {{ card.issuing_bank }}
                            </span>
                        </p>
                        <p class="r-mb-0 r-co-white">
                            <span class="r-opacity-07 r-caps r-caps--nano r-fw-bold">
                                Date Added:
                            </span>
                            <span class="r-fs-nano r-fw-bold">
                                {{ card.date_added }}
                            </span>
                        </p>
                    </div>
                    <div class="r-d-flex r-al-i-c r-j-c-sb">
                        <form action="">
                            <p class="r-mb-0">
                                <label class="r-d-flex r-al-i-c r-gutter--as-edge r-edges">
                                    <input type="checkbox" class="filled-in r-co-white" checked="checked"/>
                                    <span class="r-co-white r-caps r-caps--nano r-fw-bold">Make Primary</span>
                                </label>
                            </p>
                        </form>
                        <div class="r-j-s-fe r-co-white">
                            <button type="button" class="r-btn r-btn--neutral r-d-flex r-al-i-c">
                                {%- include tools/icons.html icon="trash" -%}
                                <span class="r-suffix r-caps r-caps--nano r-fw-bold">Remove</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {%- endfor -%}
</ul>