<ul class="r-none r-grid r-grid--gap r-grid--autosize">
    {%- assign investments = site.investments | sort: 'position' -%}
    {%- for item in investments limit: count -%}
        <li class="r-grid_item r-w-100% r-d-flex">
            <a href="{{ item.url }}" class="r-none r-w-100% r-card r-card--no-shadow r-card--border r-card--border--secondary r-card--{{ card_type }} r-d-flex r-flex-dir-col r-pb-0">
                <div class="r-grid r-grid--8-4 r-grid--gap">
                    <h3 class="r-m-0 r-fs-micro">{{ item.title }}</h3>
                    <p class="r-mb-0 r-tx-c">
                        <span class="r-fs-small r-fw-bold r-co-green">{{ item.plan_data.returns.annual_returns }}</span>
                        <span class="r-caps r-caps--pico r-d-block r-tt-l r-opacity-07 r-fw-bold">
                            Per Annum
                        </span>
                    </p>
                </div>
                <div class="r-flex_main r-d-flex r-flex-dir-col r-al-i-c r-j-c-c">
                    <span class="r-caps r-caps--nano r-opacity-07 r-fw-bold">
                        Current Returns
                    </span>
                    <p class="r-mb-0 r-co-black r-format-amount r-money-format">
                        {{ item.plan_data.returns.current_returns }}
                    </p>
                    <p class="r-mb-0 r-fw-medium r-fs-nano r-d-flex r-al-i-c">
                        <span class="{% if item.plan_data.returns.up_or_down %}r-co-green{% else %}r-co-danger{% endif %} r-lh-0 r-icon--nano r-prefix--smaller">
                            {%- if item.plan_data.returns.up_or_down -%}
                                {%- include tools/icons.html icon="triangle-up" -%}
                            {%- else -%}
                                {%- include tools/icons.html icon="triangle-down" -%}
                            {%- endif -%}
                        </span>
                        <span class="r-opacity-07">
                            <span>
                                {{ item.plan_data.returns.percentage_up_or_down }} <span class="r-js-today"></span>
                            </span>
                        </span>
                    </p>
                </div>
                <div class="r-caps r-caps--nano r-fw-bold r-gutter--half r-border-top r-tx-c r-co-secondary">
                    View More
                </div>
            </a>
        </li>
    {%- endfor -%}
</ul>