<ul class="r-none r-grid r-grid--gap r-grid--autosize">
    {%- assign loans = site.loans | sort: 'position' -%}
    {%- for loan in loans limit: count -%}
        {%- assign cls = nil -%}
        {%- if loan.cid == 'personal' -%}
            {%- assign cls = 'r-gradient--green' -%}
        {%- elsif loan.cid == 'business' -%}
            {%- assign cls = 'r-gradient--blue' -%}
        {%- elsif loan.cid == 'working_capital' -%}
            {%- assign cls = 'r-gradient--midnight' -%}
        {%- elsif loan.cid == 'project_financing' -%}
            {%- assign cls = 'r-gradient--violet' -%}
        {%- else -%}
            {%- assign cls = 'r-gradient--primary' -%}
        {%- endif -%}
        <li class="r-grid_item r-w-100% r-d-flex r-co-white">
            <a href="{{ loan.id }}" class="r-none r-w-100% r-card r-card--literal r-gradient {{ cls }}">
                <div class="r-d-flex r-al-i-c r-j-c-sb r-mt-adjust--line-height">
                    <p class="r-mb-0 r-co-white">
                        <span class="r-caps r-caps--nano r-fw-bold r-opacity-09">{{ loan.abbreviated_tag }}</span>
                        <span class="r-d-block r-fs-nano r-tt-l r-opacity-07">
                            {{ loan.plan_data.tenure.period }} {{ loan.plan_data.tenure.duration }}
                        </span>
                    </p>
                    <p class="r-mb-0 r-co-white r-progress-meter r-d-flex r-flex-dir-col r-al-i-c" role="progressbar">
                        {%- assign val = loan.plan_data.progress -%}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" data-value="{{ val }}">
                            <path class="r-progress-meter_bg" d="M41 149.5a77 77 0 1 1 117.93 0"  fill="none"/>
                            <path class="r-progress-meter_meter" d="M41 149.5a77 77 0 1 1 117.93 0" fill="none" stroke-dasharray="350" stroke-dashoffset="350"/>
                        </svg>
                        <span class="r-d-flex r-al-i-bs r-progress-meter_explainer r-mt--h">
                            {{ val }} <sub>%</sub>
                            <span class="r-fs-nano r-tt-l r-opacity-07 r-suffix--smaller">
                                Paid
                            </span>
                        </span>
                    </p>
                </div>
                <div class="r-big-number r-big-number--minimal r-card--literal_middle r-d-flex r-al-i-c r-j-c-c ">
                    <p class="r-co-white r-big-number_number r-mb-0 r-d-flex r-al-i-c">
                        <span class="r-js-number">
                            {{ loan.plan_data.balance }}
                        </span>
                    </p>
                </div>
                <p class="r-card--literal_footer r-mb-0 r-co-white">
                    <span class="r-d-flex r-al-i-bs">
                        {{ loan.plan_data.interest.rate }} <sub>%</sub>
                        <span class="r-fs-nano r-tt-l r-opacity-07 r-suffix--smaller">
                            {{ loan.plan_data.interest.per }}
                        </span>
                    </span>
                </p>
            </a>
        </li>
    {%- endfor -%}
</ul>