<div class="r-big-number r-d-ibl">
    <p class="r-big-number_number r-mb-0 r-co-black r-d-flex r-al-i-c">
        <span class="r-js-number">
            {{ page.type_details.cumulative_totals }}
        </span>
    </p>
    <p class="r-big-number_explainer r-tx-c">
        {{ page.type_details.accompanying_text }}
        <span class="r-js-today"></span>
    </p>
</div>