<div class="r-dropdown">
    <button role="list" class="r-d-flex r-al-i-c dropdown-trigger r-btn r-btn--primary" data-target="export-to">
        <span class="r-fw-medium">Export</span>
        <span class="r-suffix r-d-flex r-al-i-c r-co-white">
            {%- include tools/icons.html icon="download" -%}
        </span>
    </button>
    <ul id="export-to" class="r-dropdown_list r-none r-list dropdown-content">
        <li>
            <a href="" class="r-list-item r-co-brown">
                {%- include tools/icons.html icon="csv-file" -%}
                <span class="r-suffix--wider r-list-item_text">Export to CSV</span>
            </a>
        </li>
        <li>
            <a href="" class="r-list-item r-co-brown">
                {%- include tools/icons.html icon="pdf-file" -%}
                <span class="r-suffix--wider r-list-item_text">Export to PDF</span>
            </a>
        </li>
    </ul>
</div>