<a  href="{{ page.add_new.link }}" class="r-new-item r-btn r-btn--primary">
    {%- if page.permalink == '/loans/' -%}
        {%- include tools/icons.html icon="shield" -%}
    {%- elsif page.permalink == '/investments/' -%}
        {%- include tools/icons.html icon="thumbs-up" -%}
    {%- else -%}
        {%- include tools/icons.html icon="plus" -%}
    {%- endif -%}
    <span class="r-suffix r-btn_icon-adjust">
        {{ page.add_new.text }}
    </span>
</a>