<a href="/" class="r-logo r-d-flex r-al-i-c">
    {%- include tools/icons.html icon="icon-red" -%}
    <span class="r-logo_text r-fw-medium r-suffix r-visible-sm-up">
        Customer Interface
    </span>
</a>