<a href="/" class="r-logo r-d-flex r-al-i-c">
    {%- include tools/icons.html icon="icon-red-on-white" -%}
    <span class="r-logo_text r-fw-medium r-suffix r-co-white">
        Customer Interface
    </span>
</a>