<div class="r-gutter--height-adjust r-d-flex r-al-i-c">
    <a href="{{ '/new' | prepend: site.url }}" class="r-d-flex r-al-i-c r-btn r-btn--primary">
        <span class="r-prefix r-d-flex r-al-i-c r-co-white">
            {%- include tools/icons.html icon="plus" -%}
        </span>
        <span class="r-fw-medium r-btn_icon-adjust">New</span>
    </a>
    <div class="r-dropdown r-suffix--wider">
        <button role="list" class="r-d-flex r-al-i-c dropdown-trigger r-will-flip-icon" data-target="user_actions">
            <img src="{{ site.url }}/images/avatar.jpg" alt="User image" class="r-avatar r-avatar--border--white">
        </button>
        <ul id="user_actions" class="r-dropdown_list r-none r-list dropdown-content">
            <li>
                <a href="{{ '/settings' | prepend: site.url }}" class="r-list-item r-co-brown">
                    {%- include tools/icons.html icon="sliders" -%}
                    <span class="r-suffix--wider r-list-item_text">Profile & Settings</span>
                </a>
            </li>
            <li>
                <a href="{{ '/login' | prepend: site.url }}" class="r-list-item r-co-brown">
                    {%- include tools/icons.html icon="logout" -%}
                    <span class="r-suffix--wider r-list-item_text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>