<a  href="{{ page.add_new.link }}" class="r-new-item r-btn r-btn--primary">
    {%- include tools/icons.html icon="plus" -%}
    <span class="r-suffix r-btn_icon-adjust">
        {{ page.add_new.text }}
    </span>
</a>