//
    // Margin Utilities
    // @package nnpc-inv

// Zeros
.r-m-0
    margin: 0
.r-mt-0
    margin-top: 0
.r-mr-0
    margin-right: 0
.r-mb-0
    margin-bottom: 0
.r-ml-0
    margin-left: 0



// Autos
.r-mx-auto
    margin-right: auto
    margin-left: auto
.r-mx-auto\@md-down
    @extend .r-mx-auto
    +mq(md)
        margin-right: 0
        margin-left: 0
.r-mx-auto\@lg-down
    @extend .r-mx-auto
    +mq(lg)
        margin-right: 0
        margin-left: 0
.r-mr-auto
    margin-right: auto
.r-ml-auto
    margin-left: auto



// Tops
.r-mt--h
    margin-top: -$edge * .5
.r-mt-adjust--line-height
    margin-top: $margin_for_line_height_adjust
.r-mt-gutter
    margin-top: $gutter



// Bottoms
.r-mb-0
    margin-bottom: 0
.r-mb-hh
    margin-bottom: $edge * .25
.r-mb-h
    margin-bottom: $edge * .5
.r-mb-1
    margin-bottom: $edge



// Leadings
.r-ml-1, .r-ml-edge
    margin-left: $edge



// Y-Axis
.r-my-gutter
    margin-top: $gutter
    margin-bottom: $gutter