//
    // Variables & Configurations
    // @package nnpc-inv


// Widths
.r-w-50\%
    width: 50%
.r-w-100\%
    width: 100%
.r-maxwidth-xxs
    max-width: $breakpoint_xxs
.r-maxwidth-xs
    max-width: $breakpoint_xs
.r-maxwidth-sm
    max-width: $breakpoint_sm
.r-maxwidth-md
    max-width: $breakpoint_md
.r-w--small
    width: 64px
.r-w--medium
    width: 96px
.r-w--large
    width: 112px



// Heights
.r-h-100\%, .r-h-100
    height: 100%
.r-control-height
    height: $height_control
.r-bar-height
    height: $bar_height
.r-card-height--minimum
    min-height: $minimum_card_height
.r-fixed-height-424-grow
    height: em(424px)
    +mq(sm)
        height: em(592px)
.r-modal-height--minimum
    height: $modal_height_minimum
.r-modal-height--regular
    height: $modal_height_regular
.r-modal-height--maximum
    height: $modal_height_maximum



// Transforms Adjusts