//
    // Padding Utilities
    // @package nnpc-inv

// Zeros
.r-p-0
    padding: 0
.r-pt-0
    padding-top: 0
.r-pb-0
    padding-bottom: 0
.r-pt-0\@xl
    +mq(xl)
        padding-top: 0



// Alls
.r-p-1
    padding: $edge
.r-p-2
    padding: $r-sizing-2



// Edges
.r-p-edges
    padding: $edge
.r-px-2
    padding-right: $r-sizing-2
    padding-left: $r-sizing-2



// Right
.r-pr-2
    padding-right: $r-sizing-2