//
    // Container
    // @package nnpc-inv

.r-container
    padding-right: $edge
    padding-left: $edge
    width: 100%
    margin: 0 auto
    max-width: $breakpoint_xl
    &.r-edgeless
        padding-right: 0
        padding-left: 0

.r-edgeless
    padding-right: 0
    padding-left: 0

.r-edges
    padding-right: $edge
    padding-left: $edge
    &--right
        padding-right: $edge
    &--right-half
        padding-right: $edge * .5
    &--left
        padding-left: $edge
.r-edges\@xl, .r-edges\*2\@xl
    padding-right: 0
    padding-left: 0
    +mq(xl)
        padding-right: $edge
        padding-left: $edge
.r-edges\*2\@xl
    +mq(xl)
        padding-right: $edge * 2
        padding-left: $edge * 2
.r-edges--all
    padding: $edge
.r-edges--all-half
    padding: $edge * .5
.r-edges--y
    padding-top: $edge
    padding-bottom: $edge
.r-edges--y-half
    padding-top: $edge * .5
    padding-bottom: $edge * .5
.r-edges--y-qtr
    padding-top: $edge * .25
    padding-bottom: $edge * .25
.r-edges--x
    padding-right: $edge
    padding-left: $edge
.r-edges--x-half
    padding-right: $edge * .5
    padding-left: $edge * .5



// Gutters
.r-gutter
    padding-top: $gutter
    padding-bottom: $gutter
    &--half
        padding-top: $gutter * .5
        padding-bottom: $gutter * .5
    &--quarter
        padding-top: $gutter * .25
        padding-bottom: $gutter * .25
    &--top
        padding-top: $gutter
    &--bottom
        padding-bottom: $gutter
        &-quarter
            padding-bottom: $gutter * .25
    &--bottom-23rd\@md-down
        padding-bottom: calc(#{$gutter} + (#{$gutter} * .25))
        +mq(md)
            padding-bottom: $gutter * .5
    &--edges
        padding-top: $edge
        padding-bottom: $edge
    &--edges-half
        padding-top: $edge * .5
        padding-bottom: $edge * .5
    &--height-adjust
        padding-top: $padding_for_height_adjust
        padding-bottom: $padding_for_height_adjust
.r-gutter\@xl
    +mq(xl)
        padding-top: $gutter
        padding-bottom: $gutter
.r-gutter--2x\@lg
    +mq(lg)
        padding-top: $gutter * 2
        padding-bottom: $gutter * 2
.r-gutter--3x\@lg
    +mq(lg)
        padding-top: $gutter * 3
        padding-bottom: $gutter * 3
.r-edges--as-gutter
    padding-right: $gutter
    padding-left: $gutter
.r-gutter--top--as-edge
    padding-top: $edge
.r-gutter--as-edge
    padding-top: $edge
    padding-bottom: $edge



// Sections
.r-section
    position: relative
    &--padded
        @extend .r-gutter
        +mq(sm)
            padding-top: $gutter_sm
            padding-bottom: $gutter_sm