//
    // Grids
    // @package nnpc-inv

.r-grid
    display: grid
    &--gap
        grid-gap: $gutter
    &--gap\@md-up
        +mq(md)
            grid-gap: $gutter
    &--gap-as-edge
        grid-gap: $edge
    &--gap-as-edge\@sm-up
        +mq(sm)
            grid-gap: $edge
    &--gap-as-edge\@md-up
        +mq(md)
            grid-gap: $edge
    &--gutter\@md-down
        > *
            padding-bottom: $gutter
            +mq(md)
                padding-bottom: 0
    &--autosize
        grid-template-columns: repeat(auto-fill, minmax(315px, 1fr))
    &--1-3\@md, &--1-6, &--1-6\@sm, &--1-6\@md, &--1-6\@lg, &--1-3\@lg, &--3, &--6, &--1-7-5\@md, &--1-4-8\@md, &--1-3-9\@md, &--8-4
        grid-template-columns: repeat(12, 1fr)
    &--3
        > *
            &:nth-child(3n + 1)
                grid-column: 1/5
            &:nth-child(3n + 2)
                grid-column: 5/9
            &:nth-child(3n + 3)
                grid-column: 9/-1
    &--1-3\@md
        > *
            grid-column: 1/-1
            +mq(md)
                &:nth-child(3n + 1)
                    grid-column: 1/5
                &:nth-child(3n + 2)
                    grid-column: 5/9
                &:nth-child(3n + 3)
                    grid-column: 9/-1
    &--1-3\@lg
        > *
            grid-column: 1/-1
            +mq(lg)
                &:nth-child(3n + 1)
                    grid-column: 1/5
                &:nth-child(3n + 2)
                    grid-column: 5/9
                &:nth-child(3n + 3)
                    grid-column: 9/-1
    &--1-6
        > *
            &:nth-child(odd)
                grid-column: 1/7
            &:nth-child(even)
                grid-column: 7/-1
    &--1-6\@sm
        > *
            grid-column: 1/-1
            +mq(sm)
                &:nth-child(odd)
                    grid-column: 1/7
                &:nth-child(even)
                    grid-column: 7/-1
    &--1-6\@md
        > *
            grid-column: 1/-1
            +mq(md)
                &:nth-child(odd)
                    grid-column: 1/7
                &:nth-child(even)
                    grid-column: 7/-1
    &--1-6\@lg
        > *
            grid-column: 1/-1
            +mq(lg)
                &:nth-child(odd)
                    grid-column: 1/7
                &:nth-child(even)
                    grid-column: 7/-1
    &--6
        > *
            &:nth-child(odd)
                grid-column: 1/7
            &:nth-child(even)
                grid-column: 7/-1
    &--1-7-5\@md
        > *
            grid-column: 1/-1
            +mq(md)
                &:nth-child(odd)
                    grid-column: 1/8
                &:nth-child(even)
                    grid-column: 8/-1
    &--8-4
        > *
            &:nth-child(odd)
                grid-column: 1/9
            &:nth-child(even)
                grid-column: 9/-1
    &--1-4-8\@md
        > *
            grid-column: 1/-1
            +mq(md)
                &:nth-child(odd)
                    grid-column: 1/5
                &:nth-child(even)
                    grid-column: 5/-1
    &--1-3-9\@md
        > *
            grid-column: 1/-1
            +mq(md)
                &:nth-child(odd)
                    grid-column: 1/4
                &:nth-child(even)
                    grid-column: 4/-1