//
    // Custom Layouts
    // @package nnpc-inv


.r-split-twin
    display: flex
    flex-direction: column
    &_figure
        clip-path: polygon(50% 0%, 100% 0, 100% 70%, 0 100%, 0 0)
        height: em(248px)
        +mq(sm)
            height: em(320px)
        +mq(md)
            height: em(360px)
        img
            height: 100%
    &_content
    +mq(lg)
        display: grid
        grid-template-columns: repeat(12, 1fr)
        height: 100vh
        overflow: hidden
        &_figure
            grid-column: 1/7
            height: 100vh
            clip-path: polygon(100% 0%, 100% 0%, 100% 0%, 0% 360%, 0 0)
        &_content
            grid-column: 7/-1
            overflow-y: auto

