//
    // Main App Shells
    // @package nnpc-inv


// Page Title
.r-page-title
    @extend .r-fs-1\.5



// Navigation Toggle
.r-menu-toggle
    padding: $padding_for_height_adjust $edge
    border-right: $borderline
    color: $color_primary



// Main Shell
.r-shell
    display: flex
    flex-wrap: wrap
    max-width: $breakpoint_xxxl
    margin: 0 auto
.r-shell_main, .r-shell_aside
    height: 100vh
    overflow: hidden
.r-shell_main
    flex-basis: 100%
    max-width: 100%
    +mq(xl)
        flex-basis: 82%
        max-width: 82%
.r-shell_aside
    +pos(fixed, $t: 0, $l: 0)
    background-color: $color_linen
    z-index: 16
    width: 100%
    max-width: em(272px)
    padding-right: $edge
    transform: translateX(-100%)
    visibility: hidden
    opacity: 0
    transition: transform $timing_duration ease-out, visibility $timing_duration ease, opacity $timing_duration ease
    +mq(xl)
        position: relative
        transform: translateX(0)
        visibility: visible
        opacity: 1
        padding-right: 0
        flex-basis: 18%
        max-width: 18%
.r-aside, .r-main
    display: flex
    flex-direction: column
    height: 100vh
.r-main
.r-aside_inner, .r-content
    flex: 1
    overflow-y: auto
.r-aside_inner.r-gutter
    +mq(xl)
        padding-top: $edge * 2
.r-content
    background-color: #fff
    padding: $edge
    padding-top: 0
    border-radius: $border_radius
    margin-bottom: $edge
    +mq(xl)
        padding: ($edge * 2) ($edge * 2)



// Mobile Navigation Controls
body.r-visible
    .r-shell_aside
        transform: translateX(0)
        visibility: visible
        opacity: 1
.r-overlay
    +pos(fixed, $t: 0)
    +wh(100%)
    background-color: #000
    cursor: pointer
    opacity: 0
    overflow: hidden
    transition: opacity $timing_duration ease
    &.r-show
        opacity: 0.8



// Branding/Logo
.r-logo
    padding: $padding_for_height_adjust $edge
    text-decoration: none
    +mq(xl)
        padding-right: 0
        padding-left: 0
    svg
        +wh(em(40px))
        flex-shrink: 0
    &_text
        color: $color_primary
        font-size: 1.08em
        font-weight: $medium
        white-space: nowrap