<fieldset class="r-edges--all r-mt-gutter">
    <legend class="r-opacity-07 r-fw-medium">
        Individual or Corporate Body?
    </legend>
    <div class="r-grid r-grid--gap-as-edge r-grid--1-6">
        <div class="r-radio--as-card">
            <input type="radio" name="account-type" id="individual" required>
            <label for="individual" class="r-gradient r-gradient--green r-caps r-caps--micro r-fw-bold r-d-flex r-al-i-c r-j-c-c r-w-100% r-h-100%">
                Individual
            </label>
        </div>
        <div class="r-radio--as-card">
            <input type="radio" name="account-type" id="corporate" required>
            <label for="corporate" class="r-gradient r-gradient--blue r-caps r-caps--micro r-fw-bold r-d-flex r-al-i-c r-j-c-c r-w-100% r-h-100%">
                Corporate
            </label>
        </div>
    </div>
</fieldset>