<fieldset class="r-edges--all r-pt-0">
    <legend class="r-opacity-07 r-fw-medium">
        Account Type
    </legend>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="account-nature" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Individual Account</span>
        </label>
    </div>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="account-nature" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Joint Account</span>
        </label>
    </div>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="account-nature" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Other</span>
        </label>
    </div>
</fieldset>
<fieldset class="r-edges--all r-pt-0 r-mt-gutter">
    <legend class="r-opacity-07 r-fw-medium">
        Loan Type
    </legend>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="loan-type" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Personal Loan</span>
        </label>
    </div>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="loan-type" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Business Loan</span>
        </label>
    </div>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="loan-type" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Working Capital</span>
        </label>
    </div>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="loan-type" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Project Financing</span>
        </label>
    </div>
</fieldset>
<fieldset class="r-edges--all r-pt-0 r-my-gutter">
    <legend class="r-opacity-07 r-fw-medium">
        Investment Type
    </legend>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="investment-type" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Lease Investment Note</span>
        </label>
    </div>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="investment-type" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Investment Appreciation Note</span>
        </label>
    </div>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="investment-type" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Project Target Plan</span>
        </label>
    </div>
    <div class="r-co-black--thin r-stacked-input">
        <label>
            <input required type="radio" name="investment-type" class="with-gap"/>
            <span class="r-d-flex r-al-i-c">Education Investment Plan</span>
        </label>
    </div>
</fieldset>