<div class="r-grid r-grid--gap r-grid--1-6@md r-al-i-c r-card-height--minimum">
    <div class="r-w-100% r-tx-c@md r-gutter--half r-gutter--bottom-23rd@md-down r-border-right--as-divider@md r-border--light">
        <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Total Loan Balance</h3>
        <p class="r-mb-0 r-co-white r-format-amount r-money-format">
            897570.99
        </p>
        <p class="r-mb-0 r-co-white r-opacity-07 r-fw-medium r-fs-nano">
            Total from all loans taken.
        </p>
    </div>
    <div class="r-w-100% r-tx-c@md r-gutter--half">
        <h3 class="r-m-0 r-co-white r-caps r-caps--nano r-opacity-07 r-fw-bold">Total Current Returns</h3>
        <p class="r-mb-0 r-co-white r-format-amount r-money-format">
            963410.94
        </p>
        <p class="r-mb-0 r-co-white r-opacity-07 r-fw-medium r-d-flex r-al-i-c r-j-c-c@md r-fs-nano">
            From all investments up to date.
        </p>
    </div>
</div>