<section>
    <h2 class="r-sr">Account & Security Information</h2>
    <div class="r-maxwidth-sm r-mx-auto@lg-down">
        <form action="">
            <div class="input-field">
                <input id="account-email" type="email" value="kb@k16e.co" required>
                <label for="account-email" class="">Your Email</label>
            </div>
            <div class="r-grid r-grid--gap-as-edge@sm-up r-grid--1-6@sm">
                <div class="input-field r-mb-0">
                    <input id="current-password" type="password" value="Kabolobari" required>
                    <label for="current-password" class="">Current Password</label>
                </div>
                <div class="input-field r-mb-0">
                    <input id="new-password" type="password" required>
                    <label for="new-password" class="">New Password</label>
                </div>
            </div>
            <div class="input-field r-mb-0">
                <input id="verify-password" type="password" required>
                <label for="verify-password" class="">Verify Password</label>
            </div>
            <div class="r-mt-gutter r-d-flex r-al-i-c">
                <button type="button" class="r-btn r-btn--neutral r-w--medium r-prefix">Cancel</button>
                <button type="submit" class="r-btn r-btn--primary r-w--medium">Save</button>
            </div>
        </form>
    </div>
</section>