<section>
    <h2 class="r-sr">Personal Information</h2>
    <div class="r-maxwidth-sm r-mx-auto@lg-down">
        <form action="">
            <div class="r-grid r-grid--gap-as-edge@sm-up r-grid--1-6@sm">
                <div class="input-field r-mb-0">
                    <input id="business-name" type="text" value="K16E, Inc." required>
                    <label for="business-name" class="">Business Name</label>
                </div>
                <div class="input-field r-mb-0">
                    <input id="industry" type="text" value="Information Technology" required>
                    <label for="industry" class="">Industry</label>
                </div>
            </div>
            <div class="input-field r-mb-0">
                <input id="official-phone" type="tel" value="+234 809 345 6674" required>
                <label for="official-phone" class="">Your Phone</label>
            </div>
            <div class="r-grid r-grid--gap-as-edge@sm-up r-grid--1-6@sm">
                <div class="input-field r-mb-0">
                    <input id="official-email" type="email" value="info@stakle.com" required>
                    <label for="official-email" class="">Email</label>
                </div>
                <div class="input-field r-mb-0">
                    <input id="website" type="text" value="https://k16e.co" required>
                    <label for="website" class="">Website</label>
                </div>
            </div>
            <div class="input-field r-d-flex">
                <textarea id="business-address" class="materialize-textarea">CubeHub, Adebola House (Suite 100), 38, Opebi Road, Ikeja Lagos, Nigeria.</textarea>
                <label for="business-address">Office Address</label>
            </div>
            <div class="r-mt-gutter r-d-flex r-al-i-c">
                <button type="button" class="r-btn r-btn--neutral r-w--medium r-prefix">Cancel</button>
                <button type="submit" class="r-btn r-btn--primary r-w--medium">Save</button>
            </div>
        </form>
    </div>
</section>