<section>
    <h2 class="r-sr">Next of Kin Information</h2>
    <div class="r-maxwidth-sm r-mx-auto@lg-down">
        <form action="">
            <div>
                <div class="r-grid r-grid--gap-as-edge@sm-up r-grid--1-6@sm">
                    <div class="input-field">
                        <input id="nokfirstname" type="text" value="Seun" required>
                        <label for="nokfirstname" class="">First Name</label>
                    </div>
                    <div class="input-field">
                        <input id="noklastname" type="text" value="Oludele" required>
                        <label for="noklastname" class="">Last Name</label>
                    </div>
                </div>
                <div class="input-field">
                    <input id="nokemail" type="email" value="kb@gmail.go" required>
                    <label for="nokemail" class="">Email</label>
                </div>
                <div class="input-field">
                    <input id="nokphone" type="tel" value="+234 809 678 2222" required>
                    <label for="nokphone" class="">Phone</label>
                </div>
                <div class="input-field">
                    <input id="relationship" type="text" value="Brother" required>
                    <label for="relationship" class="">Relationship</label>
                </div>
                <div class="r-mt-gutter r-d-flex r-al-i-c r-styled--as-input">
                    <div class="r-co-black--thin">
                        <label class="r-edges">
                            <input type="radio" name="genderPersonal" class="with-gap" checked/>
                            <span>Male</span>
                        </label>
                    </div>
                    <div class="r-co-black--thin">
                        <label class="r-edges">
                            <input type="radio" name="genderPersonal" class="with-gap"/>
                            <span>Female</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="input-field r-d-flex">
                <textarea id="nokcontactAddress" class="materialize-textarea">Andela, Inc. 129 W. 29th Street, 4th Floor, New York, NY 10001</textarea>
                <label for="nokcontactAddress">Contact Address</label>
            </div>
            <div class="r-mt-gutter r-d-flex r-al-i-c">
                <button type="button" class="r-btn r-btn--neutral r-w--medium r-prefix">Cancel</button>
                <button type="submit" class="r-btn r-btn--primary r-w--medium">Save</button>
            </div>
        </form>
    </div>
</section>