<section>
    <h2 class="r-sr">Personal Information</h2>
    <div class="r-maxwidth-sm r-mx-auto@lg-down">
        <form action="">
            <div class="r-grid r-grid--1-3-9@md r-grid--gap">
                <div class="r-tx-c r-mt-gutter r-j-s-c">
                    <label for="avatar" class="r-o-hidden r-d-flex r-avatar r-avatar--large r-avatar--border--primary r-scale-down--hover r-pos-r">
                        <img src="{{ site.url }}/images/avatar.jpg" alt="User image" class="r-w-100% r-h-100%">
                        <span class="r-show--hover">
                            <span class="r-pos-xy--middle r-caps r-caps--nano r-co-white r-fw-bold">Replace</span>
                        </span>
                    </label>
                    <input type="file" id="avatar" name="avatar" accept="image/x-png,image/jpeg" class="r-d-none">
                </div>
                <div>
                    <div class="r-grid r-grid--gap-as-edge@sm-up r-grid--1-6@sm">
                        <div class="input-field">
                            <input id="firstname" type="text" value="Kabolobari" required>
                            <label for="firstname" class="">First Name</label>
                        </div>
                        <div class="input-field">
                            <input id="lastname" type="text" value="Benakole" required>
                            <label for="lastname" class="">Last Name</label>
                        </div>
                    </div>
                    <div class="input-field">
                        <input id="email" type="email" value="kb@k16e.co" required>
                        <label for="email" class="">Your Email</label>
                    </div>
                    <div class="input-field">
                        <input id="phone" type="tel" value="+234 809 345 6674" required>
                        <label for="phone" class="">Your Phone</label>
                    </div>
                    <div class="r-mt-gutter r-d-flex r-al-i-c r-styled--as-input">
                        <div class="r-co-black--thin">
                            <label class="r-edges">
                                <input type="radio" name="gender-personal" class="with-gap"/>
                                <span>Male</span>
                            </label>
                        </div>
                        <div class="r-co-black--thin">
                            <label class="r-edges">
                                <input type="radio" name="gender-personal" class="with-gap" checked/>
                                <span>Female</span>
                            </label>
                        </div>
                        <button type="submit">
                            <span role="status"></span>
                            Join the List
                        </button>
                    </div>
                    <div class="input-field r-select-wrapper">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                            <option value="5">Option 5</option>
                            <option value="6">Option 6</option>
                            <option value="7">Option 7</option>
                            <option value="8">Option 8</option>
                            <option value="9">Option 9</option>
                        </select>
                        <label>Select dropdown</label>
                    </div>
                </div>
            </div>
            <div class="input-field r-d-flex">
                <textarea id="contact-address" class="materialize-textarea">CubeHub, Adebola House (Suite 100), 38, Opebi Road, Ikeja Lagos, Nigeria.</textarea>
                <label for="contact-address">Contact Address</label>
            </div>
            <div class="r-mt-gutter r-d-flex r-al-i-c">
                <button type="button" class="r-btn r-btn--neutral r-w--medium r-prefix">Cancel</button>
                <button type="submit" class="r-btn r-btn--primary r-w--medium">Save</button>
            </div>
        </form>
    </div>
</section>