<!doctype html>
{%- assign class = nil -%}
{%- if page.layout -%}
    {%- assign class = class | append: page.layout -%}
{%- endif -%}
<html lang="en" class="is-{{ class }}">
    {%- include shell/head.html -%}
    <body class="r-blank r-bg-white">
        <a class="sr" href="#main">Skip to content</a>
        <h1 class="sr">{{ page.title }}</h1>
        <main class="r-blank_main">
            {{ content }}
        </main>
        {%- include shell/foot.html -%}
    </body>
</html>