<!doctype html>
{%- assign class = nil -%}
{%- if page.layout -%}
    {%- assign class = class | append: page.layout -%}
{%- endif -%}
<html lang="en" class="is-{{ class }}">
    {%- include shell/head.html -%}
    <body>
        <a class="sr" href="#main">Skip to content</a>
        <h1 class="sr">{{ page.title }}</h1>
        <div class="r-shell">
            <aside class="r-shell_aside r-zx-8" aria-labelledby="sidebarTitle">
                {%- include shell/sidenav.html -%}
            </aside>
            <main id="main" class="r-shell_main">
                <div class="r-main r-edges@xl">
                    {%- include shell/header.html -%}
                    <div class="r-content">
                        {%- unless page.url == '/' -%}
                            <div class="r-hidden-xl-up">
                                <div class="r-gutter r-d-flex r-al-i-c r-j-c-sb">
                                    <h2 class="r-page-title r-m-0 r-co-black">
                                        {{ page.title }}
                                    </h2>
                                </div>
                            </div>
                        {%- endunless -%}
                        <div class="r-content_inner">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {%- include shell/foot.html -%}
    </body>
</html>