---
layout: default
---
<section class="r-section r-section--padded r-pt-0@xl">
    <h2 class="sr">Welcome</h2>
    <div class="r-grid r-grid--1-7-5@md r-grid--gap">
        <div class="r-media-object">
            <figure class="r-media-object_figure--adjust@md">
                <img src="{{ site.url }}/images/avatar.jpg" alt="User image" class="r-avatar r-avatar--large-to-xlarge@md r-avatar--border--linen">
            </figure>
            <div class="r-media-object_body">
                <span class="r-caps r-caps--nano r-opacity-07 r-fw-bold">Welcome back,</span>
                <h3 class="r-m-0 r-headline--small r-gutter--bottom-quarter">Kabolobari!</h3>
                <p class="r-mb-0 r-fs-micro r-co-black r-opacity-08 r-maxwidth-xxs">
                    Here's an overview of your ADX account. You're doing great!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="r-section r-section--padded r-pt-0">
    <h2 class="sr">Loans & Investments Highlights</h2>
    <div class="r-gutter r-edges--as-gutter r-gradient r-gradient--primary r-br--all">
        {%- include partials/home/main-highlights.html -%}
    </div>
</section>
<section class="r-section r-section--padded">
    <h2 class="sr">Current Loans & Investments</h2>
    <div class="r-grid r-grid--1-6@md r-grid--gap">
        <div>
            <div class="r-section-title">
                <h3 class="r-section-title_title">
                    Current Loans
                </h3>
                <a href="/loans/" class="r-d-flex r-al-i-c r-fw-bold r-decoration-none r-read-more r-icon-move-on-hover">
                    <span class=" r-prefix">View all</span>
                    {%- include tools/icons.html icon="arrow-right" -%}
                </a>
            </div>
            {%- assign count = 2 -%}
            {%- include partials/loops/loans.html -%}
        </div>
        <div>
            <div class="r-section-title">
                <h3 class="r-section-title_title">
                    Current Investments
                </h3>
                <a href="/investments/" class="r-d-flex r-al-i-c r-fw-bold r-decoration-none r-read-more r-icon-move-on-hover">
                    <span class=" r-prefix">View all</span>
                    {%- include tools/icons.html icon="arrow-right" -%}
                </a>
            </div>
            {%- assign count = 2 -%}
            {%- assign card_type = 'literal' -%}
            {%- include partials/loops/investments.html -%}
        </div>
    </div>
</section>
{%- include partials/sections/table.html -%}