---
layout: default
---
<section class="r-section">
    <div class="r-content-area">
        <div class="r-d-flex r-al-fs r-j-c-sb">
            {%- include partials/big-number.html -%}
            <div class="r-fab">
                {%- include partials/fab-new.html -%}
            </div>
        </div>
    </div>
</section>
{%- include partials/sections/current-loans.html -%}
{%- include partials/sections/table.html -%}