---
layout: default
---
<section class="r-section r-section--padded r-pt-0">
    <h2 class="sr">Payment Tabs</h2>
    <div class="r-tabs">
        <ul class="r-none tabs r-d-flex r-al-i-c">
            <li class="tab">
                <a href="#tabIdCards" class="active r-none r-edges--as-gutter r-caps r-caps--micro r-fw-bold">Cards</a>
            </li>
            <li class="tab">
                <a href="#tabIdBanks" class="r-none r-edges--as-gutter r-caps r-caps--micro r-fw-bold">Banks</a>
            </li>
        </ul>
        <div class="r-tabs_content r-gutter">
            <div id="tabIdCards">
                {%- include partials/loops/cards.html -%}
            </div>
            <div id="tabIdBanks">
                {%- include partials/loops/banks.html -%}
            </div>
        </div>
    </div>
</section>