---
layout: default
---
<section class="r-section r-section--padded r-pt-0">
    <h2 class="sr">Profile & Settings Navigation Tabs</h2>
    <div class="r-tabs">
        <ul class="r-none tabs r-d-flex r-al-i-c">
            {%- for item in page.settings_grouping -%}
                <li class="tab">
                    <a href="#{{ item | slugify }}" class="{% if forloop.index == 1 %}active{% endif %} r-none r-edges--as-gutter r-caps r-caps--micro r-fw-bold">
                        {{ item | upcase }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
        <div class="r-tabs_content r-gutter">
            {%- for item in page.settings_grouping -%}
                {%- assign id = item | slugify -%}
                <div id="{{ id }}">
                    {%- case id -%}
                        {%- when 'personal' -%}
                            {%- include settings/personal.html -%}
                        {%- when 'account' -%}
                            {%- include settings/account.html -%}
                        {%- when 'business' -%}
                            {%- include settings/business.html -%}
                        {%- when 'next-of-kin' -%}
                            {%- include settings/next-of-kin.html -%}
                    {%- endcase -%}
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>