---
layout: blank
---
<div class="r-split-twin">
    <section class="r-split-twin_figure">
        <h2 class="r-sr">Decorative Image Header</h2>
        <div class="r-hidden-lg-up r-gutter--edges-half r-pos-a r-top-0 r-left-0">
            {%- include partials/header-logo-white.html -%}
        </div>
        <img src="{{ page.image.image }}" alt="{{ page.image.description }}">
    </section>
    <section class="r-split-twin_content r-gutter--bottom r-d-flex r-flex-dir-col r-al-i-c r-tx-c r-gutter--2x@lg r-edges">
        <h2 class="r-sr">Log In Form</h2>
        <div class="r-visible-lg-up r-gutter--bottom">
            {%- include partials/header-logo.html -%}
        </div>
        <div class="r-w-100% r-maxwidth-xs">
            <h3 class="r-mt-0 r-headline--small">Welcome to ADX!</h3>
            <p class="r-mb-0">
                Already on ADX? <a href="/login" class="r-co-secondary ">Log in.</a>
            </p>
            {%- include forms/signup.html -%}
        </div>
    </section>
</div>