---
layout: default
---
{%- assign cid = page.cid -%}
{%- assign cls = nil -%}
{%- if cid == 'personal' -%}
    {%- assign cls = 'r-gradient--green' -%}
{%- elsif cid == 'business' -%}
    {%- assign cls = 'r-gradient--blue' -%}
{%- elsif cid == 'working_capital' -%}
    {%- assign cls = 'r-gradient--midnight' -%}
{%- elsif cid == 'project_financing' -%}
    {%- assign cls = 'r-gradient--violet' -%}
{%- else -%}
    {%- assign cls = 'r-gradient--primary' -%}
{%- endif -%}

{%- include partials/sections/single-loan-details.html -%}
<section class="r-section r-section--padded">
    <h2 class="sr">Repayment Progress</h2>
    <div class="r-grid r-grid--1-6@md r-grid--gap">
        {%- include partials/sections/payments-progress.html -%}
        <div>
            <div class="r-section-title">
                <h3 class="r-section-title_title">Recent Payments</h3>
            </div>
            <div class="r-ox-hidden">
                <div class="r-o-auto">
                    {%- include partials/sections/table-recent-repayments.html -%}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="r-section r-section--padded">
    <div class="r-content-area">
        <div class="r-section-title">
            <h2 class="r-section-title_title">
                Repayment Schedule
            </h2>
        </div>
        {%- include partials/sections/table-repayments-schedule.html -%}
    </div>
</section>