---
layout: default
---
<section class="r-section r-section--padded r-pt-0">
    <h2 class="sr">{{ page.title }} Details</h2>
    {%- include partials/sections/single-investment-details.html -%}
</section>
<section class="r-section r-section--padded">
    <h2 class="sr">{{ page.title }} Tenure, Annual Returns, Topups & Withdrawals</h2>
    <div class="r-grid r-grid--1-6@md r-grid--gap">
        <div>
            <div class="r-section-title">
                <h3 class="r-section-title_title">
                    Tenure & Returns
                </h3>
            </div>
            <div class="r-grid r-grid--gap r-grid--6">
                <p class="r-mb-0 r-w-100% r-d-flex r-flex-dir-col r-al-i-c r-j-c-c r-border-right">
                    <span class="r-fs-large r-fw-bold r-d-block">{{ page.plan_data.tenure }}</span>
                    <span class="r-caps r-caps--nano r-opacity-06 r-fw-bold r-d-block">Tenure / Months</span>
                </p>
                <p class="r-mb-0 r-w-100% r-d-flex r-flex-dir-col r-al-i-c r-j-c-c">
                    <span class="r-fs-large r-fw-bold r-d-block r-co-green">{{ page.plan_data.returns.annual_returns }}</span>
                    <span class="r-caps r-caps--nano r-opacity-06 r-fw-bold r-d-block">Per Annum</span>
                </p>
            </div>
        </div>
        <div>
            <div class="r-section-title">
                <h3 class="r-section-title_title">
                    Topups & Withdrawals
                </h3>
            </div>
            <div class="r-grid r-grid--gap r-grid--1">
                <p class="r-mb-0 r-w-100% r-d-flex r-flex-dir-col">
                    <span class="r-fs-micro r-format-amount r-money-format r-co-green">{{ page.plan_data.funds_invested.current_topup }}</span>
                    <span class="r-caps r-caps--nano r-opacity-06 r-fw-bold r-d-block">Recent Topup</span>
                </p>
                <p class="r-mb-0 r-w-100% r-d-flex r-flex-dir-col">
                    <span class="r-fs-micro r-format-amount r-money-format r-co-danger">{{ page.plan_data.withdrawals.recent_withdrawal }}</span>
                    <span class="r-caps r-caps--nano r-opacity-06 r-fw-bold r-d-block">Recent Withdrawals</span>
                </p>
                <p class="r-mb-0 r-w-100% r-d-flex r-flex-dir-col">
                    <span class="r-fs-micro r-format-amount r-money-format r-co-danger">{{ page.plan_data.withdrawals.total_withdrawals }}</span>
                    <span class="r-caps r-caps--nano r-opacity-06 r-fw-bold r-d-block">All Time Withdrawals</span>
                </p>
            </div>
        </div>
    </div>
</section>
{%- include partials/sections/table.html -%}