<div class="r-tx-l">
    <form
        id="forgot"
        action=""
        class=""
        data-success="{{ page.on_submit.success_message }}"
        data-button="{{ page.on_submit.button_text }}"
    >
        <p class="input-field r-mb-0">
            <input id="email" type="email" required>
            <label for="email" class="">Email</label>
        </p>
        <button type="submit" class="r-btn r-btn--primary r-btn--match-input r-btn--left-floated-icon input-field r-btn-spinner">
            {%- include tools/icons.html icon="mail" -%}
            <span class="r-fw-medium r-btn_text r-w-100%">Send password reset link</span>
            <div class="r-spinner r-pos-a r-right-edge">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
    </form>
</div>