<div class="r-tx-l">
    <form action="" class="">
        <p class="input-field r-mb-0">
            <input id="email" type="email" class="validate" required>
            <label for="email" class="">Email</label>
        </p>
        <p class="input-field r-mb-0">
            <input id="password" type="password" class="validate" required>
            <label for="password" class="">Password</label>
        </p>
        <button type="submit" class="r-btn r-btn--primary r-btn--match-input r-btn--left-floated-icon input-field r-btn-spinner">
            {%- include tools/icons.html icon="unlock" -%}
            <span class="r-fw-medium r-btn_text">Log in</span>
            <div class="r-spinner r-pos-a r-right-edge">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
    </form>
    <a href="/forgot/" class="r-gutter--top--as-edge r-d-flex r-j-c-fe r-co-secondary">
        Forgot password?
    </a>
    <p class="r-mb-0 r-gutter--as-edge r-opacity-08 r-fs-nano">
        By continuing you accept our
        <a href="/tocs" target="_blank">Terms of Use</a> and
        <a href="/privacy" target="_blank">Privacy Policy</a>.
    </p>
</div>