<div class="r-tx-l">
    <form
        id="reset"
        action=""
        class=""
        data-success="{{ page.on_submit.success_message }}"
        data-button="{{ page.on_submit.button_text }}"
    >
        <p class="input-field r-mb-0">
            <input id="password" type="password" required>
            <label for="password" class="">New Password</label>
        </p>
        <p class="input-field r-mb-0">
            <input id="confirm-password" type="password" required>
            <label for="confirm-password" class="">Confirm Password</label>
        </p>
        <button type="submit" class="r-btn r-btn--primary r-btn--match-input r-btn--left-floated-icon input-field r-btn-spinner">
            {%- include tools/icons.html icon="lock" -%}
            <span class="r-fw-medium r-btn_text">Reset Password</span>
            <div class="r-spinner r-pos-a r-right-edge">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
    </form>
</div>