<div class="r-tx-l">
    <form action="" class="">
        <div class="r-grid r-grid--gap-as-edge@md-up r-grid--1-6@md">
            <p class="input-field r-mb-0">
                <input id="firstname" type="text" required>
                <label for="firstname" class="">First Name</label>
            </p>
            <p class="input-field r-mb-0">
                <input id="lastname" type="text" required>
                <label for="lastname" class="">Last Name</label>
            </p>
        </div>
        <p class="input-field r-mb-0">
            <input id="phone" type="tel" required>
            <label for="phone" class="">Your Phone</label>
        </p>
        <p class="input-field r-mb-0">
            <input id="email" type="email" required>
            <label for="email" class="">Your Email</label>
        </p>
        <p class="input-field r-mb-0">
            <input id="password" type="password" required>
            <label for="password" class="">Choose a Password</label>
        </p>
        <button type="submit" class="r-btn r-btn--primary r-btn--match-input r-btn--left-floated-icon input-field r-btn-spinner">
            {%- include tools/icons.html icon="lock" -%}
            <span class="r-fw-medium r-btn_text">Sign up</span>
            <div class="r-spinner r-pos-a r-right-edge">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
    </form>
    <p class="r-mb-0 r-gutter--as-edge r-opacity-08 r-fs-nano">
        By continuing you accept our
        <a href="/tocs" target="_blank">Terms of Use</a> and
        <a href="/privacy" target="_blank">Privacy Policy</a>.
    </p>
</div>