<form action="/">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="r-none glide__slides r-js-sizes">
                <li class="glide__slide">
                    {%- include forms/wizard/account-type.html -%}
                </li>
                <li class="glide__slide r-gutter">
                    {%- include forms/wizard/account-category.html -%}
                </li>
            </ul>
        </div>
        <div class="r-bottom-bar-controls">
            <div class="r-bar-height r-d-flex r-al-i-c r-edges--all">
                <div class="r-d-flex r-al-i-c" data-glide-el="controls">
                    <button type="button" class="r-btn r-btn--secondary r-w--medium r-prefix" data-glide-dir="<">Back</button>
                    <button type="button" class="r-btn r-btn--secondary r-w--medium" data-glide-dir=">">Next</button>
                </div>
                <div class="r-progressbar r-ml-auto"><div class="r-progressbar_bar"></div></div>
            </div>
        </div>
    </div>
</form>